<!-- templates/registration/login.html -->

{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% if user.is_authenticated  %}
	<!-- Redirect User back to Home page -->
{% else %}
	<div class="formDiv">
		<h1>Please log in below:</h1>
		<form method="post">
        {% csrf_token %}
        <p><input type="text" name="username" placeholder="Username"></p>
				<p><input type="password" name="password" placeholder="Password"></p>

        <button type="submit" class="btn btn-success">Log In</button>
        <a href="{% url 'password_reset' %}">Forgot Password</a>
    </form>
	</div>

{% endif%}
{% endblock %}
