<!-- templates/registration/login.html -->

{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% load static %}

{% block content %}
{% if user.is_authenticated  %}
	<!-- Redirect User back to Home page -->
{% else %}
	{% for message in messages %}
		<div class="alert alert-danger alert-dismissible fade show loginAlert" role="alert">
		  {{message}}
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
	{% endfor %}
	<img src='{% static "img/pc_guy.png" %}' class="pcGuy">
	<div class="formDiv">
		<h1>Please log in below:</h1>
		<form method="post">
        {% csrf_token %}
        <p><input type="text" name="username" placeholder="Username"></p>
				<p><input type="password" name="password" placeholder="Password"></p>

        <button type="submit" class="btn btn-success">Log In</button>
        <a href="{% url 'password_reset' %}">Forgot Password</a>
    </form>
	</div>

{% endif%}
{% endblock %}
