html, body {
	overflow-x: hidden;
}

ul {
	list-style: none !important;
}

nav {
	width: 100vw;
	position: relative !important;
	/*z-index: 10000;*/
	font-size: 20px;
	/*background: white;*/

}

nav li, nav li a {
	color: #ee7000 !important;
	transition: all .5s;
}
nav li a:hover {
	/*color: purple !important;*/
	color: #390077 !important;
	transform: scale(1.05);
}
nav ul {
	background: white;
	padding: 5px;
	border-radius: 25px;
	font-size: 18px;
}


nav a:hover {
	text-decoration: none;
}

nav ul li {
	margin: auto 10px;
}

@media(min-width: 990px) {
	nav ul {
		position: absolute;
		margin-left: 100px;
		right: 80px;
	}

		nav ul li {
		margin: auto 5px;
	}
}

@media(min-width: 1400px) {
	nav ul {
	font-size: 22px;
	}

			nav ul li {
		margin-right: 2vw;
	}
}

@media(min-width: 1600px) {

}

nav li.grayText {
	color: lightgray !important;
}

@media(max-width: 989px) {
	nav ul li {
		text-align: center;
		padding: 10px;
	}
	nav li.grayText {
		display: none;
	}
}

sup {
	/*background: #eee;*/
	border-radius: 15px;
	padding: 2px;
	color: darkblue;
}

.downArrow {
	font-size: 16px;
}

.logo {
	position: relative;
	margin-left: 10px;
	display: inline-block;
	left: 0;
	width: 180px;
}
.logo_lg {
	width: 250px;
}
.title {
	text-transform: uppercase;
	font-size: 28px;
	color: #555;
	position: absolute;
	top: 10px;
	left: 130px;
	padding: 10px;

}

@media(max-width: 989px) {
	.logo {
		display: inline-block;
		position: relative;
		width: 100px;
	}
	.logo_lg {
	width: 50vw;
	margin-left: 18vw;
}
	.title {
		text-align: left;
		font-size: 18px;
		display: inline-block;
		position: absolute;
	}
}

/*.newAlerts::after, .trackedAlerts::after {
	text-align: center;
	color: white;
	content: '12';
	background: red;
	margin-left: 3px;
	margin-top: 2px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	font-size: 13px;
	position: absolute;
}*/
/*
.trackedAlerts::after {
	content: '5';
}*/

.currentPage {
	color: #390077 !important;
	/*color: purple !important*/
	/*font-weight: bold;*/
}

.content {
	display: none;
	width: 80vw;
	margin: 20px 10vw 120px 10vw;
}

@media(max-width: 1824px) {
	.content {
		width: 95vw;
		margin: 20px 2.5vw 20px 1vw;
	}
}

h2, h3, h4 {
	text-align: center;
}

@media(min-width: 1400px) {
	h2,h3,h4 {
		margin-top: 50px;
	}
}

h3 {
	font-size: 42px;
	color: #000055;
}

h4 {
	color: #335588;
}

table {
	border-bottom: none !important;
	margin: auto;
	/*margin-right: 0;*/
}
 th {
	/*display: inline-block;*/
	margin: 0 auto !important;
	
}

/*@media(max-width: 1399px) {
	table:not(.miscDocsTable) {
		width: 90vw;
		margin-left: 4vw;
		
	}
}*/

tbody {
	/*display: inline-block;*/
	border-radius: 10px;
	overflow-y: auto;
	max-height: 500px;
}

tbody tr:nth-of-type(even) {
	background: #dedede !important;
}

tbody tr:nth-of-type(odd) {
	background: #efefef !important;
}

 th, td {
	
	text-align: center;
	font-size: 12px;
	height: 10px;
	/*min-width: 100px !important;*/
}

th {
	font-size: 10px;
	border-bottom: none !important;
}

@media(min-width: 998px) {
	th, td {
		/*min-width: 150px !important;*/
		padding: 10px 20px !important;
		font-size: initial;
	}	
	th {
		/*font-size: 14px;*/
		height: 25px;
	}
	td {
		height: 50px;
	}
}

table a {
	display: block;
	width: 100%;
}

table button {
	border-radius: 5px;
	/*padding: 5px 10px;*/
}

.btn-primary {
	background: #324EBC !important;
	border: 1px solid darkblue;
	box-shadow: 1px 1px 2px black;
	margin-bottom: 5px;
}

.btn-track {
	/*background: #ee7000;*/
	background: #009900;
	color: white;
	padding: 5px 10px;
}

.btn-tracked, #trackSelectedBtn {
	background: #009900;
	border: 1px solid #ccc;
	color: white;
	padding: 5px 10px;
}

.btn-ignore {
	background: #aa0000;
	color: white;
	/*min-width: 90px;*/
	padding: 4px;
}

@media(min-width: 768px) {
	.btn-ignore {
		/*min-width: 110px;*/
		padding: 4px 10px;
	}
}

.invisible {
	position: absolute;
	visibility: hidden;
}

.centered {
	text-align: center;
}

@media(min-width: 768px) {
	.mobileShow {
		display: none;
	}
}

@media(max-width: 767px) {
	.desktopShow {
		display: none;
	}
}


/*______________DataTables Styling______________*/
.nav-tabs {
	justify-content: center;
}

.dataTables_filter {
	margin: 20px auto;
}

.dataTables_filter input[type="search"] {
	margin-left: 5px;
	width: 250px;
	border-radius: 25px;
	padding: 2px 10px;
}

/*Scrollbar styling:*/

/* width */
::-webkit-scrollbar {
    width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 15px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #abc; 
    box-shadow: inset 2px 2px 5px #789; 
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: steelblue; 
}


/*____________Activity Page____________*/

.nav-tabs h4 {
	color: #ee7000;
}

.nav-tabs a.active.show h4 {
	color: #220055;
	font-weight: bold;
}


.countSpan {
	/*color: maroon;*/
	/*font-size: 16px;*/
	/*font-weight: bold;*/
}

.tableContainer {
	display: block;
	text-align: center;
	
}
.tbodyContainer {
	max-height: 500px;
	overflow-y: auto;
}
#activityCount {
	display: inline-block;
	position: relative;
	top: -10px;
	font-size: 14px;
	background: red;
	color: white;
	text-align: center;
	padding: 1px;
	min-width: 22px;
	/*height: 22px;*/
	border-radius: 50%;
}

#totalActivityCount {
	font-size: 36px;
}

.nav-tabs h4 {
	margin-top: 0;
	font-size: 20px;
	padding: 5px 10px 0 10px;
}

.navTabLink, .nav-tabs a h4 {
	transition: all .5s;
}

.navTabLink:hover {
	text-decoration: none;
	transform: scale(1.05);
}

.nav-tabs a:hover h4 {
	/*color: #dd3400 !important;*/
	/*color: darkorange;*/
}

.show h4 {
	/*background: steelblue;*/
	/*color: white !important;*/
	/*border-radius: 50px;*/

}

/*_____________show page_____________*/


#datePromptDiv {
	display: none;
	border-radius: 10px;
	border: 2px solid black;
	box-shadow: 5px 5px 5px black;
	padding: 20px;
	position: fixed;
	z-index: 1000000;
	top: 200px;
	width: 300px;
	/*height: 300px;*/
	left: calc(50vw - 150px);
	text-align: center;
	background: #acf;

}

.overlay {
	display: none;
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 1000000;
	top: 0;
	left: 0;
	background: rgba(255,255,255,.5);
}

.overlay img {
	min-width: 100vw;
	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

@media (min-width: 768px) {
	.residentInfoDiv {
		margin: 20px auto;
		/*width: 80vw;*/
		/*margin-left: 10vw;*/
	}
}

.residentInfoDiv h1 {
	text-align: center;
	color: steelblue;
}

.residentInfoDiv h5 {
	width: 90vw;
	margin-left: 5vw;
	color: white;
	text-align: center;
	background-color: rgba(180,0,0,.8);
	margin: 10px auto;
	padding: 5px;
	border-radius: 25px;
}

@media(min-width: 480px) {
	.residentInfoDiv h5 {
		width: 350px;
	}
}

.residentInfoDiv h4 {
	margin: -20px 0 20px -30px;
	width: 220px;
	
	/*display: inline-block;*/
	padding: 10px;
	text-align: center;
	/*color: #ee7700;*/
	color: white;
	background-color: #237;
	/*background-color: darkblue;*/
	/*text-decoration: underline;*/
	/*border-radius: 25px 10px 25px 10px;*/
	border-radius: 10px;
	font-size: 20px;
	-moz-box-shadow: 1px 5px 10px #224, inset 0 0 10px #000000;
   -webkit-box-shadow: 1px 5px 10px #224, inset 0 0 10px #000000;
   box-shadow:  1px 5px 10px #224, inset 0 0 10px #000000;
}


@media(min-width: 998px) {
	.residentInfoDiv h4 {
		position: absolute;
	}
}


.residentInfoDiv h4.responseH4 {
	width: 220px;
}

.notesModalBtnDiv {
	text-align: center;
}

#notesModalBtn, #miscDocsModalBtn {
	margin: 10px;
	background: #3040A6;
	color: white;
}

@media(min-width: 1600px) {
	#notesModalBtn,	#miscDocsModalBtn {
		position: absolute;
		right: 200px;
	}

	#notesModalBtn {
		top: 130px;
	}
	#miscDocsModalBtn {
		top: 200px;
	}
}

.residentInfoDiv .nav-tabs {
	justify-content: flex-start;
}

.nav-tabs a {
	border-radius: 5px 5px 0 0;
	display: inline-block;
	padding: 5px 10px;
	color: #aaa;
}

.nav-tabs a.active.show {
	color: #3040A6;
	font-weight: bold;
	margin-bottom: -1px;
}

@media(min-width: 998px) {
/*	.residentInfoDiv*/ .nav-tabs a.active.show {
		border: 1px solid #ddd;
		border-bottom: 1px solid white;
	}
}

.collapsibleSection {
  cursor: pointer;
  padding: 18px;
  /*width: 100%;*/
  border: none;
  text-align: left;
  outline: none;
}

.activeSection, .collapsibleSection:hover {
  background-color: #3040A6;
}

.addModalRowBtn {
	border-radius: 25px;
	background: #3040A6;
	color: white;
	font-size: 16px;
	/*font-weight: bold;*/
	padding: 2px 10px;

}

.addModalRowBtn:hover {
	background: steelblue;
}

 .collapsibleContent {
 	width: 100%;
  max-height: 1000px;
  overflow: hidden;
  /*transition: max-height 0.2s ease-out;*/
}

 .collapsibleContent {
	max-height: initial;
}

.collapsibleSection:after {
	/*position: relative;*/
  /*content: "\2796";  Unicode character for "minus" sign (-) */
  content: '-';
  /*font-size: 28px;*/
  /*line-height: 1;*/
  /*color: white;*/
  outline: none;
  /*background: steelblue;*/
  /*width: 20px;*/
  /*height: 18px;*/
  /*border: 2px solid steelblue;*/
  /*border-radius: 5px;*/
  float: right;
  /*margin-left: 20px;*/
  /*right: 15px;*/
}

.activeSection:after {
	/*position: relative;*/
  /*content: '\02795';  Unicode character for "plus" sign (+) */
  content: '+';
  /*padding-bottom: 2px;*/
}


.residentInfoDiv h6 {
	/*margin: -8px 0 20px -6px;*/
	/*width: 380px;*/
	/*display: inline-block;*/
	/*padding: 15px 30px;*/
	text-align: center;
	color: #ee7700;
	/*color: white;*/
	/*background-color: #237;*/
	/*background-color: darkblue;*/
	/*text-decoration: underline;*/
	/*border-radius: 25px 0 25px 0;*/
	font-size: 20px;
	/*box-shadow: 1px 5px 10px #224;*/
}

.residentInfoDiv section {
	overflow: hidden;
	/*border-radius: 25px 0 25px 0;*/
	border-radius: 5px;
	/*height: 250px;*/
	/*background: white;*/
	border: 2px solid #eee;
	box-shadow: 0 5px 5px #ccc;
	/*font-size: 16px;*/
	margin-bottom: 20px;
}

@media(min-width: 998px) {
	.residentInfoDiv section {
		margin-top: 30px;
		padding: 15px 25px 0 25px;
	}
}
@media(max-width: 998px) {
	.residentInfoDiv section {
		border-radius: 35px;

	}
	.residentInfoDiv h4, .residentInfoDiv h4.responseH4 {
		width: 100%;
		margin: 0 auto 20px auto;
		/*border-radius: 35px 35px 0 0;*/
	}
	.residentInfoDiv h4.responseH4 {
		border-radius: 5px;
	}
}

@media(min-width: 1400px) {
	.residentInfoDiv {
		font-size: 18px;
	}
}

.residentInfoDiv .row {
	/*margin-top: 10px;*/
}

.residentInfoDiv ul {
	/*padding-left: 10px;*/
	padding: 0;
	
}

@media(min-width: 998px) {
	.residentInfoDiv .firstColumn {
		margin-top: 45px;
	}
	.residentInfoDiv .applicationColumn {
		padding-top: 10px;
	}
}


.residentInfoDiv li {
	/*margin: 10px 0 10px 20px;*/
	/*margin: 5px 0 5px 20px;*/
}

@media(max-width: 989px) {
	.residentInfoDiv li {
		/*margin: 10px 0 10px 20px;*/
		/*border-top: 1px solid #ddd;*/
		padding: 5px 10px;
		margin: 5px 0;
	}
}

.residentInfoDiv p {
	margin-bottom: 0;
}

.residentInfoDiv label {
	/*margin-bottom: 0;*/
}

.dragNDropText {
	color: darkblue;
	font-size: 16px;
	font-weight: bold;
}

.residentInfoDiv span {
	/*display: block;*/
	margin-bottom: 3px;
	font-weight: bold;
}

.residentInfoDiv span.editable {
	color: darkblue;
}

.residentInfoDiv input:not([type='file']) {
	color: darkblue;
	font-weight: bold;
	border: none;
	border-bottom: 1px solid #cdf;
	/*background-color: #eee;*/
	
	/*box-shadow: inset -2px -2px 5px #aaa,  inset 1px 1px 5px #aaa;*/
	margin-bottom: 0;
	/*vertical-align: baseline;*/
}

.residentInfoDiv input:focus {
	border-radius: 5px;
	outline: none;
	background-color: #eee;
}

.residentInfoDiv input[type='text'] {
	width: 220px;
}

.residentInfoDiv input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
	width: 120px;
	text-align: center;
    -moz-appearance: textfield;
}

.residentInfoDiv input[type='date'] {
	width: 160px;
	background: white;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.residentInfoDiv input[type='file'] {
	/*background-color: #eee;*/
	width: 250px;
	margin-bottom: 5px;
}

.residentInfoDiv select {
	text-align: center;
	/*padding: 2px;*/
	border: none;
	background: white;
	color: darkblue;
	font-weight: bold;
	margin-bottom: 10px;
}

.residentInfoDiv select:focus {
	outline: none;
}

.editable {
	/*border-bottom: 1px solid #aaa;*/
	/*text-align: right;*/
	padding-left: 5px;
}

.fileInputLi {
		margin-bottom: 10px;
}

@media(min-width: 998px) {
	.fileInputLi {
		margin-bottom: 30px;
	}
}

.fileInputLi label {
	display: block;
}

.uploadBtn {
	background-color: green;
	color: white;
	padding: 5px;
	border-radius: 5px;
}

.absolute {
	position: absolute;
}

input#secondary_pays_copay {
	width: 65px;
	text-align: right;
}

.alertDiv {
	/*display: inline-block;*/
}
.alertDiv .alert {
	/*text-align: right;*/
	/*display: inline-block;*/
	/*position: fixed;*/
}

@media(min-width: 768px) {
	.alertDiv, #editBtn {
		position: fixed;
		z-index: 10000;
		left: 10px;
		top: 70px;
	}
	.alertDiv .alert {
		width: 400px;
	}
}

.dismissBtn {
	text-align: right;
	background-color: #567;
	color: white;
	margin-left: 10px;
	border-radius: 5px;
	padding: 2px 5px !important;
}

.documentationCheckBox{
	position: absolute;
	margin-left: -15px;
	margin-top: 8px;
}
.documentationLabel {
	font-size: 16px;
}

.deleteDocBtn {
	margin-left: 5px;
	background: darkred;
	color: white;
	padding: 2px;
	line-height: .85;
	border-radius: 5px;
}

.deleteResponseBtn {
	float: right;
	margin-right: 5px;
	background: #ddd;
	border: 1px solid #ccc;
	border-radius: 5px;
	line-height: .85;

	padding: 2px;
}

.approveBtnDiv {
	width: 100%;
	/*text-align: center;*/
}

#approveBtn {
	position: absolute;
	z-index: 100;
	right: 10vw;
	margin: 20px;
}
@media(max-width: 479px) {
	#approveBtn {
		position: relative;
	}
}

#approvedSection, #deniedSection {
	display: none;
}

/* Hide fields irrelevant to current step in process: */
.step2, .step3, .step4, .notSatisfied {
	display: none;
}

.modalRow {
	padding: 10px;
	margin: 0 0 2px 0;
	/*border: 2px solid #eee;*/
}

.modalRowDiv {
	border: 2px solid #eee;
	margin-bottom: 20px;
}

.modalRowColumn label {
	display: inline-block;
}
@media(min-width: 768px) {
	.modalRowColumn {
		display: inline-block;
		padding: 0;
		margin: 0;
		width: 30%;
		text-align: center;
	}
	.modalRowColumn label {
		/*display: block;*/
	}
}
.modalRowColumn li {
	padding: 0;
	margin: 0;
}

.fairHearingsModal .modalRowColumn li {
	text-align: left;
}

@media(min-width: 998px) {
	#fairHearingsModalBtn {
		margin-left: -10px;
		margin-bottom: 10px;
	}
}

.addNamiBtnLi {
	text-align: center;
	width: 100%;
	/*margin-top: 10px;*/
}

@media(min-width: 480px) {
	#namiModalBtn {
		margin: 15px 25px;
	}
}

.fairHearingsModal label {
	margin-bottom: 0;
}

.fairHearingsModal input.editable {
	margin-bottom: 15px;
}

.residentInfoDiv .namiH6 {
	/*background: #237;*/
	/*color: white;*/
	padding: 5px 10px 0 10px;
	border-radius: 0 25px 25px 0;
	/*width: 100px;*/
}

@media(min-width: 768px) {
	.residentInfoDiv .namiH6 {
		/*text-align: right;*/
		/*display: inline-block;*/
	}
}

.residentInfoDiv .modal-title {
	margin-top: 20px !important;
	width: 250px !important;
}

	.modal-lg {
		max-width: 90vw !important;
		width: 90vw !important;
		margin-left: 5vw !important;
	}
@media(min-width: 1400px) {
	.modal-lg {
		max-width: 1350px !important;
		width: 1350px !important;
		margin: auto !important;
	}
}

.miscDocsTable {
	width: 100%;
}

.miscDocsTable td,th {
	padding: 10px 5px;
}

.notes {
	min-height: 100px;
}

/*___________index.html___________*/

.btn-remove {
	background: #aa0000;
	color: white;
	width: 110px;
}

/*.alertByButton::after {
	color: white;
	content: '!';
	font-weight: bold;
	background: red;
	padding: 0 6px;
	border-radius: 50%;
	font-size: 12px;
	position: relative;
	top: -15px;
	left: -10px;
}*/
/*
.alertByButton:hover::after {
	color: maroon;
	content: 'RFI Due within 10 days';
	font-weight: initial;
	background: white;
	padding: 0 6px;
	border-radius: 0;
	width: auto;
	height: 20px;
	font-size: 14px;
	position: absolute;
}
*/


/*________________Form Pages________________*/
.loginAlert {
	position: absolute;
	width: 90vw;
	top: 100px;
	left: 5vw;
}

@media(min-width: 768px) {
	.loginAlert {
		width: 500px;
		left: calc(50vw - 250px);
		/*position: relative;*/
		margin: auto;
	}
}

.pcGuy {
	position: absolute;
	bottom: 30px;
	right: 50px;
	width: 30vw;
	max-width: 500px;
	min-width: 250px;
}

.formDiv {
	text-align: center;
	margin: 50px auto;
}

@media(min-width: 1600px) {
	.formDiv {
		margin: 130px auto;
	}
}

.formDiv form {
	/*width: 480px;*/
	/*margin: 100px auto;*/
	/*text-align: right;*/
}

.formDiv h1 {
	/*color: #004477;*/
	color: #310F92;
	margin-bottom: 40px;
}

@media(max-width: 479px) {

	.formDiv {
		margin: 50px auto;
	}

	.formDiv h1 {
		font-size: 28px;
	}

	.pcGuy {
		width: 80vw;
		left: 10vw;
		max-width: initial;
		max-height: initial;
	}
}

.formDiv input {
	background: #eee;
	padding: 7px;
	/*border-radius: 5px;*/
	/*position: relative;*/
	/*top: -5px;*/
	width: 250px;
	border: none;
	/*border-bottom: 2px solid steelblue;*/
}

.formDiv button {
	text-align: center;
}

/*______________pending_alerts.html______________*/

.btn-alert {
	background: #ee7000;
	color: white;
	padding: 5px 10px;
}

/*_________________approvals.html_________________*/

.verifyBtn {
	background-color: gray;
	/*width: 110px;*/
	/*margin-left: 10%;*/
	border-radius: 5px;
	color: white;
	padding: 5px 10px;
}

.verified {
	background-color: green;
}

/*________reset_done.html (Email Sent Page)________*/

/*#checkInboxH1 {
	color: steelblue;
}*/

.emailSentPic {
	width: 70px;
	margin: 0 10px 5px 0;
}