{% extends 'base.html' %}

{% block title %}Activity{% endblock %}

{% block content %}
<div class="container" id="activityContainer">
  <h3>Activity (<span id="totalActivityCount"></span>)</h3>
  <ul class="nav nav-tabs nav-justified">
    <li>
      <a data-toggle="tab" href="#home" class="active show">
        <h4>New Admissions (<span class="countSpan" id="newAdmissionsTableCount"></span>)</h4>
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#menu1">
        <h4>Payor Changes (<span class="countSpan" id="payorChangesTableCount"></span>)</h4>
      </a>
    </li>
      <li>
        <a data-toggle="tab" href="#menu2">
      <h4>Discharges (<span class="countSpan" id="dischargesTableCount"></span>)</h4>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane in active">
      <table id="newAdmissionsTable">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Facility</th>
            <th>Primary Payor</th>
            <th>Secondary Payor</th>
            <th>Admission Date</th>
            <th class="invisible">Track</th>
            <th class="invisible">Don't Track</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in list %}
          <tr id="{{obj.patient_id}}">
            <td>{{obj.first_name}}</td>
            <td>{{obj.last_name}}</td>
            <td>{{obj.facility}}</td>
            <td>{{obj.primary_payor}}</td>
            <td>{{obj.secondary_payor}}</td>
            <td>{{obj.activity_date}}</td>
            <td class="btnCell trackBtnCell"><button class="btn-track">Track</button></td>
            <td class="btnCell"><button class="btn-ignore">Don't Track</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="menu1" class="tab-pane fade">
      <table id="payorChangesTable">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Facility</th>
            <th>Primary Payor</th>
            <th>Secondary Payor</th>
            <th>Date of Payor Change</th>
            <th class="invisible">Track</th>
            <th class="invisible">Don't Track</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in payor_change %}
          <tr id="{{obj.patient_id}}">
            <td>{{obj.first_name}}</td>
            <td>{{obj.last_name}}</td>
            <td>{{obj.facility}}</td>
            <td>{{obj.primary_payor}}</td>
            <td>{{obj.secondary_payor}}</td>
            <td>{{obj.activity_date}}</td>
            <td class="trackBtnCell"><button class="btn-track">Track</button></td>
            <td><button class="btn-ignore">Don't Track</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="menu2" class="tab-pane fade">
      <table id="dischargesTable">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Facility</th>
            <th>Primary Payor</th>
            <th>Secondary Payor</th>
            <th>Discharge Date</th>
            <th class="invisible">Track</th>
            <th class="invisible">Don't Track</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in discharge %}
          <tr id="{{obj.patient_id}}">
            <td>{{obj.first_name}}</td>
            <td>{{obj.last_name}}</td>
            <td>{{obj.facility}}</td>
            <td>{{obj.primary_payor}}</td>
            <td>{{obj.secondary_payor}}</td>
            <td>{{obj.activity_date}}</td>
            <td class="trackBtnCell"><button class="btn-track">Track</button></td>
            <td><button class="btn-ignore">Don't Track</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>









<!-- 
// $(document).ready(function() {

//        Dtable1 =$('#example').DataTable({



//          "scrollY":$('#example').closest('.container-fluid').height()+ "px",
//          "scrollCollapse": true,
//          "paging":         false,
//          "columnDefs": [ {
//             "targets": -1,
//             "data": null,
//             "defaultContent": '<button class="getData"type="button">Track</button>  <button class = "ignore" type="button">Ignore</button> '
//         } ]});
//        Dtable2 = $('#example2').DataTable({
//          "scrollY":        "300px",
//          "scrollCollapse": true,
//          "paging":         false,
//          "columnDefs": [ {
//             "targets": -1,
//             "data": null,
//             "defaultContent": '<button class="undo">Undo</button>'
//         } ]});
//        var counter = 0;

//     $('#example').on( 'click', '.getData', function () {
//         var data= Dtable1.row( $(this).parents('tr') ).data();
//         Dtable1.row( $(this).parents('tr') ).remove().draw();
//         Dtable2.row.add( [
//             data[0],
//             data[0],
//             data[0],
//             data[0],
//             data[0],
//         ] ).draw( false );
//         counter++;
//     } );

//     $('#example').on( 'click', '.ignore', function () {
//         Dtable1.row( $(this).parents('tr') ).remove().draw();

//     } );

//     $('#example2 tbody').on( 'click', '.undo', function () {
//       var data= Dtable2.row( $(this).parents('tr') ).data();
//       Dtable2.row( $(this).parents('tr') ).remove().draw();
//       Dtable1.row.add( [
//           data[0],
//           data[0],
//           data[0],
//           data[0],
//           data[0],
//       ] ).draw( false );



//     } );
// } );

</script> -->

{% endblock %}

