{% extends 'base.html' %}

{% block title %}Activity{% endblock %}

{% block content %}
<div class="tableContainer" id="activityContainer">
  <h3>Activity (<span id="totalActivityCount"></span>)</h3>
  <ul class="nav nav-tabs nav-justified">
    <li>
      <a data-toggle="tab" href="#home" class="active show">
        <h4>New Admissions (<span class="countSpan" id="newAdmissionsTableCount"></span>)</h4>
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#menu1">
        <h4>Payor Changes (<span class="countSpan" id="payorChangesTableCount"></span>)</h4>
      </a>
    </li>
      <li>
        <a data-toggle="tab" href="#menu2">
      <h4>Discharges (<span class="countSpan" id="dischargesTableCount"></span>)</h4>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane in active">
      <table id="newAdmissionsTable">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <!-- <th>Facility</th> -->
            <th>Primary Payor</th>
            <th>Secondary Payor</th>
            <th>Admission Date</th>
            <th class=""></th>
            <th class=""></th>
          </tr>
        </thead>
        <tbody>
          {% for obj in admission %}
          <tr id="{{obj.resident_id}}">
            <td>{{obj.first_name}}</td>
            <td>{{obj.last_name}}</td>
            <!-- <td>{{obj.facility}}</td> -->
            <td>{{obj.primary_payor}}</td>
            <td>{{obj.secondary_payor}}</td>
            <td>{{obj.activity_date|date:"F d, Y"}}</td>
            <td class="btnCell trackBtnCell"><button class="btn-track">Track</button></td>
            <td class="btnCell"><button {% if 'Medicaid' in obj.primary_payor or 'Medicaid' in obj.secondary_payor %} disabled {% else %} class="btn-ignore" {% endif %}>Don't Track</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="menu1" class="tab-pane fade">
      <table id="payorChangesTable">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <!-- <th>Facility</th> -->
            <th>Primary Payor</th>
            <th>Secondary Payor</th>
            <th>Date of Payor Change</th>
            <th class="invisible">Track</th>
            <th class="invisible">Don't Track</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in payor_change %}
          <tr id="{{obj.resident_id}}">
            <td>{{obj.first_name}}</td>
            <td>{{obj.last_name}}</td>
            <!-- <td>{{obj.facility}}</td> -->
            <td>{{obj.primary_payor}}</td>
            <td>{{obj.secondary_payor}}</td>
            <td>{{obj.activity_date|date:"F d, Y"}}</td>
            <td class="trackBtnCell"><button class="btn-track">Track</button></td>
            <td><button {% if 'Medicaid' in obj.primary_payor  %} disabled {% else %} class="btn-ignore" {% endif %}>Don't Track</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="menu2" class="tab-pane fade">
      <table id="dischargesTable">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <!-- <th>Facility</th> -->
            <th>Primary Payor</th>
            <th>Secondary Payor</th>
            <th>Discharge Date</th>
            <th class="invisible">Track</th>
            <th class="invisible">Don't Track</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in discharge %}
          <tr id="{{obj.resident_id}}">
            <td>{{obj.first_name}}</td>
            <td>{{obj.last_name}}</td>
            <!-- <td>{{obj.facility}}</td> -->
            <td>{{obj.primary_payor}}</td>
            <td>{{obj.secondary_payor}}</td>
            <td>{{obj.activity_date|date:"F d, Y"}}</td>
            <td class="trackBtnCell"><button class="btn-track">Track</button></td>
            <td><button {% if 'Medicaid' in obj.primary_payor or 'Medicaid' in obj.secondary_payor %} disabled {% else %} class="btn-ignore" {% endif %}>Don't Track</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
