{% extends 'base.html' %}

{% block title %}Activity{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="tableContainer" id="activityContainer">
  <h3>Activity <span id="totalActivityCount"></span></h3>
  <ul class="nav nav-tabs nav-justified">
    <li>
      <a data-toggle="tab" href="#home" class="navTabLink active show">
        <h4>New Admissions<sup class="countSpan" id="newAdmissionsTableCount"></sup></h4>
      </a>
    </li>
    <li>
      <a data-toggle="tab" class="navTabLink" href="#menu1">
        <h4>Payor Changes<sup class="countSpan" id="payorChangesTableCount"></sup></h4>
      </a>
    </li>
      <li>
        <a data-toggle="tab" class="navTabLink" href="#menu2">
      <h4>Discharges<sup class="countSpan" id="dischargesTableCount"></sup></h4>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane in active">
      <table id="newAdmissionsTable">
        <thead>
          <tr>
            {% if is_admin %}
            <th>Facility</th>
            {% endif %}
            <th class="mobileShow">Name</th>
            <th class="desktopShow">First Name</th>
            <th class="desktopShow">Last Name</th>
            <!-- <th>Facility</th> -->
            <th>Primary Payor</th>
            <th>Secondary Payor</th>
            <th>Admission Date</th>
            <th class=""></th>
            <th class=""></th>
          </tr>
        </thead>
        <tbody>
          {% for obj in admission %}
          <tr id="{{obj.resident_id}}">
            {% if is_admin %}
            <td>{{obj.facility_name}}</td>
            {% endif %}
            <td class="mobileShow">{{obj.last_name}}, {{obj.first_name}}</td>
            <td class="desktopShow">{{obj.first_name}}</td>
            <td class="desktopShow">{{obj.last_name}}</td>
            <!-- <td>{{obj.facility_name}}</td> -->
            <td>{{obj.primary_payor}}</td>
            <td>{{obj.secondary_payor}}</td>
            <td>{{obj.activity_date|date:"F d, Y"}}</td>
            <td class="btnCell trackBtnCell"><button class="btn-track">Track</button></td>
            <td class="btnCell"><button title="Don't Track" {% if 'Medicaid' in obj.primary_payor or 'Medicaid' in obj.secondary_payor %} class"btn-ignore" disabled {% else %} class="btn-ignore" {% endif %}>&times;</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="menu1" class="tab-pane fade">
      <table id="payorChangesTable">
        <thead>
          <tr>
            {% if is_admin %}
            <th>Facility</th>
            {% endif %}
            <th class="mobileShow">Name</th>
            <th class="desktopShow">First Name</th>
            <th class="desktopShow">Last Name</th>
            <!-- <th>Facility</th> -->
            <th>Primary Payor</th>
            <th>Secondary Payor</th>
            <th>Date of Payor Change</th>
            <th class="invisible">Track</th>
            <th class="invisible">Don't Track</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in payor_change %}
          <tr id="{{obj.resident_id}}">
            {% if is_admin %}
            <td>{{obj.facility_name}}</td>
            {% endif %}
            <td class="mobileShow">{{obj.last_name}}, {{obj.first_name}}</td>
            <td class="desktopShow">{{obj.first_name}}</td>
            <td class="desktopShow">{{obj.last_name}}</td>
            <!-- <td>{{obj.facility_name}}</td> -->
            <td>{{obj.primary_payor}}</td>
            <td>{{obj.secondary_payor}}</td>
            <td>{{obj.activity_date|date:"F d, Y"}}</td>
            <td class="trackBtnCell"><button class="btn-track">Track</button></td>
            <td><button {% if 'Medicaid' in obj.primary_payor  %} disabled {% else %} class="btn-ignore" {% endif %}>&times;</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="menu2" class="tab-pane fade">
      <table id="dischargesTable">
        <thead>
          <tr>
            {% if is_admin %}
            <th>Facility</th>
            {% endif %}
            <th class="mobileShow">Name</th>
            <th class="desktopShow">First Name</th>
            <th class="desktopShow">Last Name</th>
            <!-- <th>Facility</th> -->
            <th>Primary Payor</th>
            <th>Secondary Payor</th>
            <th>Discharge Date</th>
            <th class="invisible">Track</th>
            <th class="invisible">Don't Track</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in discharge %}
          <tr id="{{obj.resident_id}}">
            {% if is_admin %}
            <td>{{obj.facility_name}}</td>
            {% endif %}
            <td class="mobileShow">{{obj.last_name}}, {{obj.first_name}}</td>
            <td class="desktopShow">{{obj.first_name}}</td>
            <td class="desktopShow">{{obj.last_name}}</td>
            <!-- <td>{{obj.facility_name}}</td> -->
            <td>{{obj.primary_payor}}</td>
            <td>{{obj.secondary_payor}}</td>
            <td>{{obj.activity_date|date:"F d, Y"}}</td>
            <td class="trackBtnCell"><button class="btn-track">Track</button></td>
            <td><button {% if 'Medicaid' in obj.primary_payor or 'Medicaid' in obj.secondary_payor %} disabled {% else %} class="btn-ignore" {% endif %}>&times;</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% else %}
  <h1>You are not logged in</h1>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
