{% extends 'base.html' %}

{% block title %}Approvals{% endblock %}

{% block content %}
{% if user.is_authenticated%}
<div class="tableContainer">
  <h3>Approvals (<span class="countSpan" id="approvalsTableCount"></span>):</h3>
  <table id="approvalsTable">
    <thead>
      <tr>
        {% if is_admin %}
        <th>Facility</th>
        {% endif %}
        <th class="mobileShow">Name</th>
        <th class="desktopShow">First Name</th>
        <th class="desktopShow">Last Name</th>
        <!-- <th>Facility</th> -->
        <th>Approval Date Range</th>
        <!-- <th>Fair Hearing Required?</th> -->
        <th>Verified</th>
        <th class="invisible">Show</th>
        <th class="invisible">Don't Track</th>
      </tr>
    </thead>
    <tbody>
      {% for application in applications %}
      <tr id="{{application.application_id}}">
        {% if is_admin %}
        <td>{{application.resident.facility_name}}</td>
        {% endif %}
        <td class="mobileShow">{{application.resident.last_name}}, {{application.resident.first_name}}</td>
        <td class="desktopShow">{{application.resident.first_name}}</td>
        <td class="desktopShow">{{application.resident.last_name}}</td>
        <!-- <td>{{application.facility}}</td> -->
        <td>{{application.approval_start_date|date:"F d, Y"}} - {{application.approval_end_date|date:"F d, Y"}}</td>
        <!-- <td>?</td> -->
        <td class="verifyBtnTd">
          {% if application.approval_verified %}
            <button class="verifyBtn verified">Verified &check;</button>
          {% else %}
            <button class="verifyBtn">Not Verified</button>
          {% endif %}
        </td>
        <td><a href="/show?resident_id={{application.resident_id}}" class=""><button class="btn-tracked">Show</button></a></td>
        <td><button class="btn-ignore">Don't Track</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
  <h1>You are not logged in</h1>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
{% load static %}
{% block scripts %}
  <!-- <script src="{% static 'js/base.js' %}"></script> -->
  <script src="{% static 'js/approvals.js' %}"></script>
{% endblock %}
