{% extends 'base.html' %}

{% block title %}Approvals{% endblock %}

{% block content %}
<div class="tableContainer">
  <h3>Approvals (<span class="countSpan" id="approvalsTableCount"></span>):</h3>
  <table id="approvalsTable">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Facility</th>
        <th>Primary Payor</th>
        <th>Secondary Payor</th>
        <th>Approval Date Range</th>
        <th>Fair Hearing Required?</th>
        <th>Verified</th>
        <th class="invisible">Show</th>
        <th class="invisible">Don't Track</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in list %}
      <tr id="{{obj.resident_id}}">
        <td>{{obj.first_name}}</td>
        <td>{{obj.last_name}}</td>
        <td>{{obj.facility}}</td>
        <td>{{obj.primary_payor}}</td>
        <td>{{obj.secondary_payor}}</td>
        <td>{{obj.approval_start_date|date:"F d, Y"}} - {{obj.approval_end_date|date:"F d, Y"}}</td>
        <td>?</td>
        <td class="verifyBtnTd">
          {% if obj.approval_verified == False %}
            <button class="verifyBtn">Not Verified</button>
          {% else %}
            <button class="verifyBtn verified">Verified &check;</button>
          {% endif %}
        </td>
        <td><a href="/show?resident_id={{obj.resident_id}}" class=""><button class="btn-tracked">Show</button></a></td>
        <td><button class="btn-ignore">Don't Track</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
{% load static %}
{% block scripts %}
  <!-- <script src="{% static 'js/base.js' %}"></script> -->
  <script src="{% static 'js/approvals.js' %}"></script>
{% endblock %}
