<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Create Application{% endblock %}

{% block content %}
<div class="formDiv">
  <h1>Medicaid Application Form</h1>
  <form method="post">
    {% csrf_token %}
    <p><input type="text" name="username" placeholder="First name"></p>
		<p><input type="text" name="password" placeholder="Last name"></p>
		<p><input type="text" name="password" placeholder="NCS ID number"></p>
		<p><input type="file" name="password" placeholder="Medicaid application"></p>
		<p><input type="file" name="password" placeholder="Confirmation receipt"></p>
		<p><input type="file" name="password" placeholder="RFI"></p>
		<p><input type="text" name="password" placeholder="RFI deadline"></p>
    <button type="submit" class="btn btn-success">Create Application</button>
    <button type="submit" class="btn btn-primary">Back</button>
  </form>
</div>
{% endblock %}
