{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="tableContainer">
  <h3>Medicaid Pending (<span class="countSpan" id="medicaidPendingTableCount"></span>)</h3>
  <table id="medicaidPendingTable">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Facility</th>
        <th>Primary Payor</th>
        <th>Secondary Payor</th>
        <th>Admission Date</th>
        <th>Next Step</th>
        <th class="invisible">Show</th>
        <th class="invisible">Don't Track</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in list%}
      <tr id="{{obj.resident_id}}">
        <td>{{obj.first_name}}</td>
        <td>{{obj.last_name}}</td>
        <td>{{obj.facility}}</td>
        <td>{{obj.primary_payor}}</td>
        <td>{{obj.secondary_payor}}</td>
        <td>{{obj.activity_date|date:"F d, Y"}}</td>
        <td>{{obj.phase.phase_name}}</td>
        <td><a href="/show?resident_id={{obj.resident_id}}" class="alertByButton"><button class="btn-tracked">Show</button></a></td>
        <td><button class="btn-ignore">Don't Track</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
{% load static %}
{% block scripts %}
  <script src="{% static 'js/home.js' %}"></script>
{% endblock %}
<!-- <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  {% if user.is_authenticated %}
    <a href="#">Dashboard</a>
    <a href="#">General Info</a>
    <a href="{% url 'logout' %}">Logout</a>
  {% else %}
    <a href="{% url 'login' %}">Login</a>
  {% endif %}
</div> -->

<!-- <div class = "page-header">
  {% if user.is_authenticated %}
    <span onclick="openNav()" id = "open_close">&#9776;</span>
  {% else %}
    <span onclick="openNav()" id = "open_close">&#9776;</span>
  {% endif %}
</div> -->

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<!-- <div id="main">
  {% if user.is_authenticated %}
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="alerts-tab" data-toggle="tab" href="#alerts" role="tab" aria-controls="alerts" aria-selected="true">Alerts ({{alert_length}})</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Track Applcations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Settings</a>
    </li>
  </ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="alerts" role="tabpanel" aria-labelledby="alerts-tab">
    <div class = 'container border border-dark' id = "search_function">
      <form method="post">
        {% csrf_token %}

        <legend>Alert Filter</legend>
        <label for="facility">Facility</label>
        <select name = "Facility">
          <option value="All ">All Facilities</option>
          {%for facility in facilities%}
            <option value="{{facility.facility_name}}">{{facility.facility_name}}</option>
          {% endfor %}
        </select>
        <label for="day_range">Day Range</label>
        <input type="number" name="days"value ="1" id = "month" min="1" max = "14" step = "1" required/>
        <input type="submit" value = Lookup>
      </form>
    </div>
    <div class = "container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <h2> New Alerts</h2>
          <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                    <th>Actions</td>
                </tr>
            </thead>
            <tbody>
              {% for obj in list%}
                <tr>
                    <td>{{obj.first_name}} {{obj.last_name}}</td>
                    <td>{{obj.type}}</td>
                    <td>27</td>
                    <td>2011/01/25</td>
                    <td>$112,000</td>
                    <td> </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
         </div>
         <div class="col-lg-6">
           <h2> To Be Tracked</h2>
           <table id="example2" class="display" style="width:100%">
             <thead>
                 <tr>
                     <th>Name</th>
                     <th>Office</th>
                     <th>Age</th>
                     <th>Start date</th>
                     <th>Salary</th>
                     <th>Actions</td>

                 </tr>
             </thead>
             <tbody>

             </tbody>
           </table>
         </div>
       </div>
     </div>
</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class = "container-fluid">
    <table id="mainTable" class="display" style="width:100%">
      <thead>
          <tr>
              <th>Name</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
              <th>Actions</td>

          </tr>
      </thead>
      <tbody>
        {% for obj in list%}
          <tr>
              <td>{{obj.first_name}} {{obj.last_name}}</td>
              <td>New York</td>
              <td>27</td>
              <td>2011/01/25</td>
              <td>$112,000</td>
              <td> </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>
</div>
{%endif%} -->


<!-- <script>
$(document).ready(function() {
  var table = $('#mainTable').DataTable({
    fixedHeader: true,
    "lengthChange": false,
    "pageLength":15,
  });

});



$(document).ready(function() {

       Dtable1 =$('#example').DataTable({



         "scrollY":$('#example').closest('.container-fluid').height()+ "px",
         "scrollCollapse": true,
         "paging":         false,
         "columnDefs": [ {
            "targets": -1,
            "data": null,
            "defaultContent": '<button class="getData"type="button">Track</button>  <button class = "ignore" type="button">Ignore</button> '
        } ]});
       Dtable2 = $('#example2').DataTable({
         "scrollY":        "300px",
         "scrollCollapse": true,
         "paging":         false,
         "columnDefs": [ {
            "targets": -1,
            "data": null,
            "defaultContent": '<button class="undo">Undo</button>'
        } ]});
       var counter = 0;

    $('#example').on( 'click', '.getData', function () {
        var data= Dtable1.row( $(this).parents('tr') ).data();
        Dtable1.row( $(this).parents('tr') ).remove().draw();
        Dtable2.row.add( [
            data[0],
            data[0],
            data[0],
            data[0],
            data[0],
        ] ).draw( false );
        counter++;
    } );

    $('#example').on( 'click', '.ignore', function () {
        Dtable1.row( $(this).parents('tr') ).remove().draw();

    } );

    $('#example2 tbody').on( 'click', '.undo', function () {
      var data= Dtable2.row( $(this).parents('tr') ).data();
      Dtable2.row( $(this).parents('tr') ).remove().draw();
      Dtable1.row.add( [
          data[0],
          data[0],
          data[0],
          data[0],
          data[0],
      ] ).draw( false );



    } );
} );

/* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  document.body.style.backgroundColor = "rgba(0,0,0,0.3)";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
  document.body.style.backgroundColor = "white";
}


</script> -->
