{% extends 'base.html' %}

{% block title %}Approvals{% endblock %}

{% block content %}
<div class="tableContainer">
  <h3>Not Tracking (<span class="countSpan" id="notTrackingTableCount"></span>):</h3>
  <table id="notTrackingTable">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Facility</th>
        <th>Primary Payor</th>
        <th>Secondary Payor</th>
        <th>Approval Date</th>
        <!-- <th class="invisible">Show</th> -->
        <th class="invisible">Start Tracking</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in list%}
      <tr id="{{obj.resident_id}}">
        <td>{{obj.first_name}}</td>
        <td>{{obj.last_name}}</td>
        <td>{{obj.facility}}</td>
        <td>{{obj.primary_payor}}</td>
        <td>{{obj.secondary_payor}}</td>
        <td>{{obj.activity_date|date:"F d, Y"}}</td>
        <!-- <td><a href="/show?resident_id={{obj.resident_id}}" class="alertByButton"><button class="btn-danger">Show</button></a></td> -->
        <td><button class="btn-track">Start Tracking</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- <script type="text/javascript" src="js/pending.js"></script> -->

{% endblock %}