{% extends 'base.html' %}

{% block title %}Alerts{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="tableContainer" id="activityContainer">
  <h3>Alerts  (<span class="countSpan" id="allPendingAlertsTableCount"></span>)</h3>
  <ul class="nav nav-tabs nav-justified">
    <li>
      <a data-toggle="tab" href="#home" class="active show">
        <h4>All</h4>
      </a>
    </li>
       <li>
      <a data-toggle="tab" href="#menu4">
        <h4>Schedule Appointment (<span class="countSpan" id="meetingTableCount"></span>)</h4>
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#menu3">
        <h4>Pickup Date (<span class="countSpan" id="pickupDateTableCount"></span>)</h4>
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#menu2">
        <h4>No Medicaid Response In 30 Days (<span class="countSpan" id="noResponseTableCount"></span>)</h4>
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#menu1">
        <h4>RFI Due Soon(<span class="countSpan" id="rfiDueTableCount"></span>)</h4>
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#menu5">
        <h4>Recert Due (<span class="countSpan" id="recertTableCount"></span>)</h4>
      </a>
    </li>
    </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane in active">
      <table id="allPendingAlertsTable">
        <thead>
          <tr>
            {% if is_admin %}
            <th>Facility</th>
            {% endif %}
            <th>First Name</th>
            <th>Last Name</th>
            <th>Alert Type</th>
            <th>Alert Priority</th>
            <th class="invisible">Show</th>
          </tr>
        </thead>
        <tbody>
          {% for alert in alerts%}
          <tr>
            <td>{{alert.resident.first_name}}</td>
            {% if is_admin %}
            <td>{{alert.resident.facility_name}}</td>
            {% endif %}
            <td>{{alert.resident.last_name}}</td>
            <td>{{alert.alert_type.alert_name}}</td>
            <td>{{alert.alert_type.alert_priority}}</td>
            <td><a href="/show?resident_id={{alert.resident_id}}" class=""><button class="btn-alert">Show</button></a></td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
    <div id="menu1" class="tab-pane fade">
      <table id="rfiDueTable">
        <thead>
          <tr>
            {% if is_admin %}
            <th>Facility</th>
            {% endif %}
            <th>First Name</th>
            <th>Last Name</th>
            <th>Alert Type</th>
            <th>Alert Priority</th>
            <th class="invisible">Show</th>
          </tr>
        </thead>
        <tbody>
          {% for alert in alerts%}
            {% if alert.alert_type.alert_class == "rfi" %}
              <tr>
                {% if is_admin %}
                <td>{{alert.resident.facility_name}}</td>
                {% endif %}
                <td>{{alert.resident.first_name}}</td>
                <td>{{alert.resident.last_name}}</td>
                <td>{{alert.alert_type.alert_name}}</td>
                <td>{{alert.alert_priority}}</td>
                <td><a href="/show?resident_id={{alert.resident_id}}" class=""><button class="btn-alert">Show</button></a></td>
              </tr>
            {% endif %}
          {% endfor %}

        </tbody>
      </table>
    </div>
    <div id="menu2" class="tab-pane fade">
      <table id="noResponseTable">
        <thead>
          <tr>
            {% if is_admin %}
            <th>Facility</th>
            {% endif %}
            <th>First Name</th>
            <th>Last Name</th>
            <th>Alert Type</th>
            <th>Alert Priority</th>
            <th class="invisible">Show</th>
          </tr>
        </thead>
        <tbody>
          {% for alert in alerts%}
            {% if alert.alert_type.alert_class == "no response" %}
              <tr>
                {% if is_admin %}
                <td>{{alert.resident.facility_name}}</td>
                {% endif %}
                <td>{{alert.resident.first_name}}</td>
                <td>{{alert.resident.last_name}}</td>
                <td>{{alert.alert_type.alert_name}}</td>
                <td>{{alert.alert_priority}}</td>
                <td><a href="/show?resident_id={{alert.resident_id}}" class=""><button class="btn-alert">Show</button></a></td>
              </tr>
            {%endif%}
          {% endfor %}

        </tbody>
      </table>
    </div>
    <div id="menu3" class="tab-pane fade">
      <table id="pickupDateTable">
        <thead>
          <tr>
            {% if is_admin %}
            <th>Facility</th>
            {% endif %}
            <th>First Name</th>
            <th>Last Name</th>
            <th>Alert Type</th>
            <th>Alert Priority</th>
            <th class="invisible">Show</th>
          </tr>
        </thead>
        <tbody>
          {% for alert in alerts%}
            {% if alert.alert_type.alert_class == "pickup date" %}
              <tr>
                {% if is_admin %}
                <td>{{alert.resident.facility_name}}</td>
                {% endif %}
                <td>{{alert.resident.first_name}}</td>
                <td>{{alert.resident.last_name}}</td>
                <td>{{alert.alert_type.alert_name}}</td>
                <td>{{alert.alert_priority}}</td>
                <td><a href="/show?resident_id={{alert.resident_id}}" class=""><button class="btn-alert">Show</button></a></td>
              </tr>
            {%endif%}
          {% endfor %}

        </tbody>
      </table>
    </div>
    <div id="menu4" class="tab-pane fade">
      <table id="meetingTable">
        <thead>
          <tr>
            {% if is_admin %}
            <th>Facility</th>
            {% endif %}
            <th>First Name</th>
            <th>Last Name</th>
            <th>Alert Type</th>
            <th>Alert Priority</th>
            <th class="invisible">Show</th>
          </tr>
        </thead>
        <tbody>
          {% for alert in alerts%}
            {% if alert.alert_type.alert_class == "appointment" %}
              <tr>
                {% if is_admin %}
                <td>{{alert.resident.facility_name}}</td>
                {% endif %}
                <td>{{alert.resident.first_name}}</td>
                <td>{{alert.resident.last_name}}</td>
                <td>{{alert.alert_type.alert_name}}</td>
                <td>{{alert.alert_priority}}</td>
                <td><a href="/show?resident_id={{alert.resident_id}}" class=""><button class="btn-alert">Show</button></a></td>
              </tr>
            {%endif%}
          {% endfor %}

        </tbody>
      </table>
    </div>
    <div id="menu5" class="tab-pane fade">
      <table id="recertTable">
        <thead>
          <tr>
            {% if is_admin %}
            <th>Facility</th>
            {% endif %}
            <th>First Name</th>
            <th>Last Name</th>
            <th>Alert Type</th>
            <th>Alert Priority</th>
            <th class="invisible">Show</th>
          </tr>
        </thead>
        <tbody>
          {% for alert in alerts%}
            {% if alert.alert_type.alert_class == "recertification" %}
              <tr>
                {% if is_admin %}
                <td>{{alert.resident.facility_name}}</td>
                {% endif %}
                <td>{{alert.resident.first_name}}</td>
                <td>{{alert.resident.last_name}}</td>
                <td>{{alert.alert_type.alert_name}}</td>
                <td>{{alert.alert_priority}}</td>
                <td><a href="/show?resident_id={{alert.resident_id}}" class=""><button class="btn-alert">Show</button></a></td>
              </tr>
            {%endif%}
          {% endfor %}

        </tbody>
      </table>
    </div>
<!-- <div id="menu2" class="tab-pane fade">
<table id="dischargesTable">
<thead>
<tr>
  {% if is_admin %}
  <th>Facility</th>
  {% endif %}
<th>First Name</th>
<th>Last Name</th>
<th>Facility</th>
<th>Primary Payor</th>
<th>Secondary Payor</th>
<th>Discharge Date</th>
<th class="invisible">Track</th>
<th class="invisible">Don't Track</th>
</tr>
</thead>
<tbody>
{% for alert in discharge %}
<tr id="{{alert.resident_id}}">
<td>{{alert.first_name}}</td>
<td>{{alert.last_name}}</td>
<td>{{alert.facility}}</td>
<td>{{alert.primary_payor}}</td>
<td>{{alert.secondary_payor}}</td>
<td>{{alert.activity_date}}</td>
<td class="trackBtnCell"><button class="btn-track">Track</button></td>
<td><button class="btn-ignore">Don't Track</button></td>
</tr>
{% endfor %}
</tbody>
</table>
</div> -->
</div>
</div>









<!--
// $(document).ready(function() {

//        Dtable1 =$('#example').DataTable({



//          "scrollY":$('#example').closest('.container-fluid').height()+ "px",
//          "scrollCollapse": true,
//          "paging":         false,
//          "columnDefs": [ {
//             "targets": -1,
//             "data": null,
//             "defaultContent": '<button class="getData"type="button">Track</button>  <button class = "ignore" type="button">Ignore</button> '
//         } ]});
//        Dtable2 = $('#example2').DataTable({
//          "scrollY":        "300px",
//          "scrollCollapse": true,
//          "paging":         false,
//          "columnDefs": [ {
//             "targets": -1,
//             "data": null,
//             "defaultContent": '<button class="undo">Undo</button>'
//         } ]});
//        var counter = 0;

//     $('#example').on( 'click', '.getData', function () {
//         var data= Dtable1.row( $(this).parents('tr') ).data();
//         Dtable1.row( $(this).parents('tr') ).remove().draw();
//         Dtable2.row.add( [
//             data[0],
//             data[0],
//             data[0],
//             data[0],
//             data[0],
//         ] ).draw( false );
//         counter++;
//     } );

//     $('#example').on( 'click', '.ignore', function () {
//         Dtable1.row( $(this).parents('tr') ).remove().draw();

//     } );

//     $('#example2 tbody').on( 'click', '.undo', function () {
//       var data= Dtable2.row( $(this).parents('tr') ).data();
//       Dtable2.row( $(this).parents('tr') ).remove().draw();
//       Dtable1.row.add( [
//           data[0],
//           data[0],
//           data[0],
//           data[0],
//           data[0],
//       ] ).draw( false );



//     } );
// } );

</script> -->
{% else %}
  <h1>You are not logged in</h1>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}

{% load static %}
{% block scripts %}
<!-- <script src="{% static 'js/activity.js' %}"></script> -->
{% endblock %}
