{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated%}
<div class="tableContainer">
  <h3>Medicaid Pending - All Applications (<span class="countSpan" id="medicaidPendingTableCount"></span>)</h3>
    <!-- <div class="tbodyContainer"> -->
  <table id="medicaidPendingTable">
    <thead>
      <tr>
        {% if is_admin %}
        <th>Facility</th>
        {% endif %}
        <th class="mobileShow">Name</th>
        <th class="desktopShow">First Name</th>
        <th class="desktopShow">Last Name</th>
        <!-- <th>Facility</th> -->
        <th>Pickup Date</th>
        <th>Application Deadline</th>
        <th>Status</th>
        <th class="invisible">Show</th>
        <th class="invisible">Stop Tracking</th>
      </tr>
    </thead>
      <tbody>
        {% for application in applications%}
        <tr id="{{application.resident.resident_id}}">
          {% if is_admin %}
          <td>{{application.resident.facility_name}}</td>
          {% endif %}
          <td class="mobileShow">{{application.resident.last_name}}, {{application.resident.first_name}}</td>
          <td class="desktopShow">{{application.resident.first_name}}</td>
          <td class="desktopShow">{{application.resident.last_name}}</td>
          <!-- <td>{{application.facility}}</td> -->
          <td>{{application.medicaid_pickup_date|date:'F d, Y'}}</td>
          <td>{{application.date_of_application_submission_deadline|date:'F d, Y'}}</td>
          <td>{{application.phase.phase_name}}</td>
          <td><a href="/show?resident_id={{application.resident_id}}" class="alertByButton"><button class="btn-tracked">Show</button></a></td>
          <td><button class="btn-ignore" title="Stop Tracking">&times;</button></td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
    <!-- </div> -->
</div>
{% else %}
  <h1>You are not logged in</h1>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
{% load static %}
{% block scripts %}
{% endblock %}