{% extends 'base.html' %}

{% block title %}Patient Show Page{% endblock %}

{% block content %}
{% load static %}



<div class="alertDiv">
	{% for alert in resident_alerts %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>Alert:</strong> {{alert.alert_message}} <button class="btn dismissBtn">Dismiss</button>
				<span class="invisible alertId">{{alert.alert_id}}</span>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
	{% endfor %}
</div>
{% for application in applications %}

<div class="container-fluid residentInfoDiv applicationPage" data-application_id="{{application.application_id}}">
	<h1 class="">{{application.resident.first_name}} {{application.resident.last_name}}</h1>
	<h5 id="showStatus">Status: {{application.phase.phase_name}}</h5>
	<!-- <p class="centered">Click any field to edit.</p> -->
	<!-- <button class="btn" id="editBtn">Edit</button> -->
	<!-- <section >
		<h4 class="collapsibleSection">Demo of JS-Populated Personal Information:</h4>
		<ul id="demo"></ul>
	</section> -->
	<section>
		<h4 class="collapsibleSection">Personal Information:</h4>
		<ul class="collapsibleContent">
			<div class="row">
				<div class="col-lg-4 applicationColumn">
					<li>
						<label>Resident Name:</label>
						<span class="">{{application.resident.first_name}} {{application.resident.last_name}}</span>
					</li>
					<!--
					EXPERIMENTING WITH RADIO BUTTONS:
					<li>
						<label>Spousal Refusal: </label><br>
						<form class="radio_form"  data-table="application" data-application_id="{{application.application_id}}">
							<input type="radio" name="ltc" value=true> Yes<br>
  						<input type="radio" name="ltc" value=false> No<br>
  					</form>
					</li> -->
					<li>
						<label>Date of Birth:</label>
						<span class="">{{application.resident.dob|date:"M d, Y"}}</span>
					</li>
					<li>
						<label>Facility:</label>
						<span class="">{{application.resident.facility_name}}</span>
					</li>
				</div>
				<div class="col-lg-4 applicationColumn">
					<li class="editableLi">
						<label>Address:</label>
						<input class="editable" id="address" data-table="resident" data-alert_id="" type="text" value="{{application.resident.address}}">
					</li>
					<li class="editableLi">
						<label>City:</label>
						<input class="editable" id="city" data-table="resident" data-alert_id="" type="text" value="{{application.resident.city}}">
					</li>
					<li class="editableLi">
						<label>State:</label>
						<input class="editable" id="state" data-table="resident" data-alert_id="" type="text" value="{{application.resident.state}}">
					</li>
					<li class="editableLi">
						<label>Zip:</label>
						<input class="editable" id="zip" data-table="resident" data-alert_id="" type="text" value="{{application.resident.zip}}">
					</li>
				</div>
				<div class="col-lg-4 applicationColumn">
					<li class="editableLi">
						<label>County:</label>
						<input class="editable" id="county" data-table="resident" data-alert_id="" type="text" value="{{application.resident.county}}">
					</li>
					<li class="editableLi">
						<label>Phone:</label>
						<input class="editable" id="phone" data-table="resident" data-alert_id="" type="text" value="{{application.resident.phone}}">
					</li>
					<li class="editableLi">
						<label>Marital Status:</label>
						<input class="editable" id="marital_status" data-table="resident" data-alert_id="" type="text" value="{{application.resident.marital_status}}">
					</li>
					<li class="invisible absolute" id="residentId" type="text">{{application.resident.resident_id}}</li>
					<li class="invisible absolute applicationId" id="applicationId" type="text">{{application.application_id}}</li>
					<li class="invisible absolute" id="phase">{{application.phase.phase_id}}</li>
				</div>
			</div>
		</ul>
	</section>
	<section>
		<h4 class="collapsibleSection">Insurance Information:</h4>
		<ul class="collapsibleContent">
			<div class="row">
				<div class="col-lg-4 applicationColumn">
					<li class="editableLi">
						<label>Primary Payor:</label>
						<input class="editable" id="primary_payor" data-table="resident" data-alert_id="" type="text" value="{{application.resident.primary_payor}}">
					</li>
					<li class="editableLi">
						<label>Secondary Payor:</label>
						<input class="editable" id="secondary_payor" data-table="resident" data-alert_id="" type="text" value="{{application.resident.secondary_payor}}">
					</li>
				</div>

				<div class="col-lg-4 applicationColumn">
					<li class="editableLi">
						<label>Copay:</label>
						<input class="editable" id="copay" data-table="application" data-application_id="{{application.application_id}}" data-alert_id="" type="text" value="{{applications.0.copay}}">
					</li>
					<li class="editableLi">
						<label>Copay Start Date:</label>
						<input class="editable date" id="copay_start_date" data-table="application" data-application_id="{{application.application_id}}" data-alert_id="" type="date" value="{{applications.0.copay_start_date|date:'Y-m-d'}}">
					</li>
					<li class="editableLi">
						<label>Secondary Insurance Copay Percentage:</label>
						<input class="editable" id="secondary_pays_copay" data-table="application" data-application_id="{{application.application_id}}" data-alert_id="" type="text" value="{{applications.0.secondary_pays_copay}}">
					</li>
				</div>
				<div class="col-lg-4 applicationColumn">
					<li class="editableLi">
						<label>Last Medicare Date:</label>
						<input class="editable date" type="date" value="{{applications.0.last_medicare_date|date:'Y-m-d'}}">
					</li>
					<li class="editableLi">
						<label>Cut From Medicare/Insurance Date:</label>
						<input class="editable date" type="date" value="{{applications.0.cut_from_medicare_date|date:'Y-m-d'}}">
					</li>
				</div>
			</div>
		</ul>
	</section>
	<section >
		<span class="invisible applicationId">{{application.application_id}}</span>
		<h4 class="collapsibleSection">Medicaid Application Information:</h4>
		<div class="collapsibleContent" id="applicationInfoSection">
			<ul>
			<div class="row">
				<div class="col-lg-4 applicationColumn">
					<li class="step3">
						<label>Application Type:</label>
						<select name="application_type" id="application_type" data-table="application" data-application_id="{{application.application_id}}">
							<option value="">Please select one:</option>
							<option value="new_application">New Application</option>
							<option value="conversion">Conversion</option>
							<option value="payor_change">Payor Change</option>
						</select>
						<span class="invisible DBinfo" id="DBapplication_type">{{application.application_type}}</span>
						<!-- <input class="editable" id="application_type" data-table="application" data-application_id="{{application.application_id}}" data-alert_id="">{{application.application_type}} -->
					</li>
					<li class="step3">
						<label>Spousal/Single:</label>
						<select name="spousal" id="spousal" data-table="application" data-application_id="{{application.application_id}}">
							<option value="">Please select one:</option>
							<option value="single">Single</option>
							<option value="spousal">Spousal</option>
						</select>
						<span class="invisible DBinfo" id="DBspousal">{{application.spousal}}</span>
					</li>
					<li class="editableLi step3">
						<label>Short-term/Long-Term Care:</label>
						<select name="ltc" id="ltc" data-table="application" data-application_id="{{application.application_id}}">
							<option value="">Please select one:</option>
							<option value="short_term">Short-Term</option>
							<option value="long_term">Long-Term</option>
						</select>
			 			<span class="invisible DBinfo" id="DBltc">{{application.ltc}}</span>
					</li>
					<li class="editableLi step3">
						<label>Spousal Refusal:</label>
						<select name="spousal_refusal" id="spousal_refusal" data-table="application" data-application_id="{{application.application_id}}">
							<option value="">Please select one:</option>
							<option value="yes">Yes</option>
							<option value="no">No</option>
						</select>
						<span class="invisible DBinfo" id="DBspousal_refusal">{{application.spousal_refusal}}</span>
					</li>
				</div>
				<div class="col-lg-4 applicationColumn">
					<li class="editableLi step1">
						<label>Applicant Meeting Date:</label>
						<input class="editable date" id="appointment_date" data-table="application" data-application_id="{{application.application_id}}" data-alert_id="" type="date" value="{{application.appointment_date|date:'Y-m-d'}}">
					</li>

					<li class="editableLi step2">
						<label>Medicaid Pickup Date:</label>
							<input class="editable date" id="medicaid_pickup_date" data-table="application" data-application_id="{{application.application_id}}" data-alert_id=5 type="date" value="{{application.medicaid_pickup_date|date:'Y-m-d'}}">
					</li>
					<li class="editableLi step3">
						<label>Application County:</label>
						<input class="editable" id="application_county" data-table="application" data-application_id="{{application.application_id}}" data-alert_id="" type="text" value="{{application.application_county}}">
					</li>
					<li class="editableLi step3">
						<label>Application State:</label>
						<input class="editable" id="application_state" data-table="application" data-application_id="{{application.application_id}}" data-alert_id="" type="text" value="{{application.application_state}}">
					</li>

						<li class="editableLi step3">
						<label>Estimated NAMI/Income Contribution Amount:</label>
						<input class="editable" id="estimated_nami" data-table="application" data-application_id="{{application.application_id}}" data-alert_id="" type="text" value="{{application.estimated_nami}}">
					</li>
				</div>
				<div class="col-lg-4 applicationColumn">
					<li class="step1">
						<label class=""><input type="checkbox" class="meetingCheckbox" {% if application.phase.phase_id > 1 %} checked="checked"{% endif %}>Met with Applicant</label>
					</li>
					<li class="editableLi step3">
						<label>Date of Deadline:</label>
						<input class="editable date" id="date_of_deadline" data-table="application" data-application_id="{{application.application_id}}" data-alert_id="" type="date" value="{{application.date_of_deadline|date:'Y-m-d'}}">
					</li>
					<li class="editableLi step3">
						<label>DSS Contact Address:</label>
						<input class="editable" id="dss_contact_address" data-table="application" data-application_id="{{application.application_id}}" data-alert_id="" type="text" value="{{application.dss_contact_address}}">
					</li>
					<li class="editableLi step3">
						<label>DSS Contact Phone:</label>
						<input class="editable" id="dss_contact_phone" data-table="application" data-application_id="{{application.application_id}}" data-alert_id="" type="text" value="{{application.dss_contact_phone}}">
					</li>
					<li class="editableLi step3">
						<label>DSS Contact Email:</label>
						<input class="editable" id="dss_contact_email" data-table="application" data-application_id="{{application.application_id}}" data-alert_id="" type="text" value="{{application.dss_contact_email}}">
					</li>
					<li class="editableLi step3">
						<label>DSS Contact Fax:</label>
						<input class="editable" id="dss_contact_fax" data-table="application" data-application_id="{{application.application_id}}" data-alert_id="" type="text" value="{{application.dss_contact_fax}}">
					</li>
					<!--
					<li class="editableLi step3">
						<label>Date of RFI:</label>
						<input class="editable date" id="date_of_rfi" data-table="application" data-application_id="{{application.application_id}}" data-alert_id="" type="date" value="{{application.date_of_rfi|date:'Y-m-d'}}">
					</li> -->
				</div>
			</div>
		</ul>
		<hr class= step3">
		<!-- <h6 class="step3" id=Heading">Submission #1</h6> -->
		<ul class="">
			<div class="row">
				<div class="col-lg-3">
					<li class="step3">
						<input type="checkbox" class="submittedCheckbox" id="submittedCheckbox1" {% if application.phase.phase_id > 3 %} checked="checked"{% endif %}><label for="submittedCheckbox1"class="">Medicaid Application Submitted</label>
					</li>
				</div>
				<div class="col-lg-3">
					<li class="editableLi step3">
						<label>Submission Date:</label>
						<input class="editable date" id="date_of_application_submission" data-table="application" data-application_id="{{application.application_id}}" data-alert_id="" type="date" value="{{application.date_of_application_submission|date:'Y-m-d'}}">
					</li>
				</div>
				<div class="col-lg-3">
					<li class="step4">
							{% if application.application_document %}
										<p>Document Uploaded:</p>
											<a href="/{{ application.application_document.file }}" target = "_blank">{{application.application_document.file_name}}</a>
							{% else %}
								<form class="fileInputLi" id="medicaid_application" method="post" enctype="multipart/form-data">
					  			{% csrf_token %}
									<label>Upload Application Here:</label>
									<input type="file" name="document" value="" accept="image/jpeg
									,image/png,application/pdf" required>
									<input type="hidden" name="resident_id" value="{{application.resident.resident_id}}">
									<input type="hidden" name="file_type" value="medicaid_application">
									<input type="hidden" name="application_id" value="{{application.application_id}}">
									<button type="submit" class="uploadBtn">Upload</button>
								</form>
							{% endif %}
					</li>
				</div>
				<div class="col-lg-3">
					<li class="editableLi step4">
						<label>Response:</label>
						<select name="initial_response" id="initial_response" data-table="application" data-application_id="{{application.application_id}}" onchange="createResponseRow({{application.application_id}}, this)">
							<option value="not_recieved">Not recieved</option>
							<option value="rfi">RFI</option>
							<option value="approved">Approved</option>
							<option value="denied">Denied</option>
						</select>
						<span class="invisible DBinfo" id="DBinitial_response">{{application.initial_response}}</span>
					</li>
					<!-- <li class="invisible absolute" id="application_id">{{application.application_id}}</li> -->
				</div>
			</div>
		</ul>
		</div>

	</section>
	<section class="" id="approvedSection">
		<h4 class="collapsibleSection">Approval Information:</h4>
		<ul class="collapsibleContent">
			<div class="row">
				<div class="col-lg-4 applicationColumn">
					<li class="editableLi step6">
						<label>Satisfied with approval?</label>
						<select name="satisfied_with_approval" id="satisfied_with_approval" data-table="application" data-application_id="{{application.application_id}}">
							<option value="">Please select one:</option>
							<option value="yes">Yes</option>
							<option value="no">No</option>
						</select>
						<span class="invisible DBinfo" id="DBsatisfied_with_approval">{{application.satisfied_with_approval}}</span>
					</li>
					<li class="editableLi">
						<label>Approval Notice Date:</label>
						 <input class="editable date" id="approval_notice_date" data-table="application" data-application_id="{{application.application_id}}" data-alert_id="" type="date" value="{{application.approval_notice_date|date:'Y-m-d'}}">
					</li>
					<li class="step4">
						<form class="fileInputLi" id="approval" method="post" enctype="multipart/form-data">
			  			{% csrf_token %}
							<label>Upload Approval Here:</label>
							<input type="file" name="approval" value="{{application.approval}}" accept="image/jpeg
							,image/png,application/pdf" multiple>
							<input type="hidden" name="resident_id" value="{{resident.resident_id}}">
							<input type="hidden" name="file_type" value="approval">
							<button type="submit" class="uploadBtn">Upload</button>
						</form>
					</li>
				</div>
				<div class="col-lg-4 applicationColumn">
					<li class="editableLi">
						<label>Approval Start Date:</label>
						 <input class="editable date" id="approval_start_date" data-table="application" data-application_id="{{application.application_id}}" data-alert_id="" type="date" value="{{application.approval_start_date|date:'Y-m-d'}}">
					</li>
					<li class="editableLi">
						<label>Approval End Date:</label>
						 <input class="editable date" id="approval_end_date" data-table="application" data-application_id="{{application.application_id}}" data-alert_id="" type="date" value="{{application.approval_end_date|date:'Y-m-d'}}">
					</li>
					<li class="editableLi">
						<label>NAMI/Income Contribution Amount:</label>
			 			<input class="editable" type="text" value="{{application.county}}">
					</li>

				</div>
				<div class="col-lg-4">
					<li class="editableLi">
						<label>Fair Hearing Required?</label>
						<select name="fair_hearing_required" id="fair_hearing_required" data-table="application" data-application_id="{{application.application_id}}">
							<option value="">Please select one:</option>
							<option value="yes">Yes</option>
							<option value="no">No</option>
						</select>
						<span class="invisible DBinfo" id="DBspousal_refusal">{{application.spousal_refusal}}</span>
					</li>
					<li class="editableLi">
						<label>Date of Medicaid Recertification:</label>
						<input class="editable date" type="date" value="{{application.date_of_medicaid_recertification|date:'Y-m-d'}}">
					</li>
				</div>
			</div>
		</ul>
	</section>
	<section class="" id="deniedSection">
					<h4 class="collapsibleSection">Denial Information:</h4>
		<ul>
			<div class="row">
				<div class="col-lg-4 applicationColumn">
					<li class="editableLi">
						<label>Denial Notice Date:</label>
						 <input class="editable date" id="denial_notice_date" data-table="application" data-application_id="{{application.application_id}}" data-alert_id="" type="date" value="{{application.denial_notice_date|date:'Y-m-d'}}">
					</li>
					<li class="step4">
						<form class="fileInputLi" id="denial" method="post" enctype="multipart/form-data">
			  			{% csrf_token %}
							<label>Upload Denial Here:</label>
							<input type="file" name="denial" value="{{application.denial}}" accept="image/jpeg
							,image/png,application/pdf" multiple>
							<input type="hidden" name="resident_id" value="{{resident.resident_id}}">
							<input type="hidden" name="file_type" value="denial">
							<button type="submit" class="uploadBtn">Upload</button>
						</form>
					</li>

				</div>
				<div class="col-lg-4 applicationColumn">
					<li class="editableLi">
						<label>Denial Start Date:</label>
						 <input class="editable date" id="denial_start_date" data-table="application" data-application_id="{{application.application_id}}" data-alert_id="" type="date" value="{{application.denial_start_date|date:'Y-m-d'}}">
					</li>
					<li class="editableLi">
						<label>Denial End Date:</label>
						 <input class="editable date" id="denial_end_date" data-table="application" data-application_id="{{application.application_id}}" data-alert_id="" type="date" value="{{application.denial_end_date|date:'Y-m-d'}}">
					</li>
					<li class="editableLi">
						<label>NAMI/Income Contribution Amount:</label>
			 			<input class="editable" type="text" value="{{application.county}}">
					</li>

				</div>
				<div class="col-lg-4">
					<li class="editableLi">
						<label>Fair Hearing Required?</label>
						<select name="fair_hearing_required" id="fair_hearing_required" data-table="application" data-application_id="{{application.application_id}}">
							<option value="">Please select one:</option>
							<option value="yes">Yes</option>
							<option value="no">No</option>
						</select>
						<span class="invisible DBinfo" id="DBspousal_refusal">{{application.spousal_refusal}}</span>
					</li>
					<li class="editableLi">
						<label>Date of Medicaid Recertification:</label>
						<input class="editable date" type="date" value="{{application.date_of_medicaid_recertification|date:'Y-m-d'}}">
					</li>
				</div>
			</div>
		</ul>
	</section>
{% endfor %}
<!-- 	<section class="step3">
		<h4 class="collapsibleSection">Document Upload:</h4>
		<ul>
			<div class="row">
				<div class="col-lg-4 applicationColumn">
					<form class="fileInputLi" id="medicaid_confirmation" method="post" enctype="multipart/form-data">
			 			{% csrf_token %}
						<label>Upload Medicaid Confirmation Here:</label>
						<input type="file" name="medicaid_confirmation" value="{{application.medicaid_confirmation}}" accept="image/jpeg
						,image/png,application/pdf" multiple>
						<input type="hidden" name="resident_id" value="{{resident.resident_id}}">
						<input type="hidden" name="file_type" value="medicaid_confirmation">
						<button type="submit" class="uploadBtn">Upload</button>
					</form>
				</div>
				<div class="col-lg-4 applicationColumn">
					<form class="fileInputLi" id="medicaid_approval" method="post" enctype="multipart/form-data">
			 			{% csrf_token %}
						<label>Upload Medicaid Approval Here:</label>
						<input type="file" name="medicaid_approval" value="{{application.medicaid_approval}}" accept="image/jpeg
						,image/png,application/pdf" multiple>
						<input type="hidden" name="resident_id" value="{{resident.resident_id}}">
						<input type="hidden" name="file_type" value="medicaid_approval">
						<button type="submit" class="uploadBtn">Upload</button>
					</form>
				</div>
			</div>
		</ul>
	</section> -->
	<!-- <div class="approveBtnDiv"> -->
		<!-- <button class="btn btn-success centered step3" id="approveBtn">Approve</button> -->
	<!-- </div> -->

</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/show.js' %}"></script>
<script type="text/javascript">
// Submission behavior, including generating new HTML based on Medicaid response(s):
const applicationInfoSection = document.querySelector('#applicationInfoSection');
const date_of_application_submission = document.querySelector('#date_of_application_submission');
const initial_response = document.querySelector('#initial_response');

$(document).ready(()=>{
	if(date_of_application_submission.value) {
		$('.step4').css('display', 'block');
	}
	if(initial_response.value == 'approved') {
		$('#approvedSection').css('display', 'block');
	} else if(initial_response.value == 'denied') {
		$('#deniedSection').css('display', 'block');
	}
})

date_of_application_submission.addEventListener('blur', (e) => {
	if(date_of_application_submission.value) {
		$('.step4').fadeIn();
		phaseChange(date_of_application_submission, 4);
	} else {
		$('.step4').css('display', 'none');
		phaseChange(date_of_application_submission, 3);
	}
})

$(document).ready(()=>{

	{% for rfi in rfis %}
	  var rfiAppId = {{rfi.response.application.application_id}}
	  var sectionDiv = document.querySelector("[data-application_id='{{rfi.response.application.application_id}}']");
	  var section = sectionDiv.querySelector('#applicationInfoSection')
		var html = "";
		numberOfRFIs += 1;
		html += `
			<hr class="">
			<ul class="" id="">
			<h6 class="numberOfRFIs">RFI #${numberOfRFIs}</h6>
			<div class="row">
			<div class="col-lg-3">
			<li class="invisible applicationId">
			</li>
			<li class="">
		`
		var checked = "";
		{% if rfi.rfi_documentation_submitted_date %}
			checked = `checked="checked"`;
		{% endif %}
		var applicationId = {{rfi.response.application.application_id}};
		var rfiId = {{rfi.rfi_id}};
		var rfiDocumentationSubmittedDate = "{{rfi.rfi_documentation_submitted_date|date:'Y-m-d'}}";
		var rfiDueDate = "{{rfi.rfi_due_date|date:'Y-m-d'}}";

		{% if rfi.document_id %}
			{% for rfi_document in rfi_documents %}
				{% if rfi_document.rfi_id == rfi.rfi_id %}
				html += `
						<p>Document Uploaded:</p>
							<a href="/{{ rfi_document.file }}" target = "_blank">{{rfi_document.file_name}}</a>
						`
				{% endif %}
		  {% endfor %}
		{% else %}
			html += `
						<form class="fileInputLi rfiFileUpload" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<label>Upload RFI Here:</label>
						<input type="file" name="document" value="" accept="image/jpeg
						,image/png,application/pdf" required>
						<input type="hidden" name="resident_id" value="{{resident.resident_id}}">
						<input type="hidden" name="file_type" value="rfi">
						<input type="hidden" name="application_id" value="${applicationId}">
						<input type="hidden" name="rfi_id" value="${rfiId}">
						<button type="submit" class="uploadBtn">Upload</button>
						</form>
					`
		{% endif %}
		html += `
			</li>
			</div>
			<div class="col-lg-3">
			<li class="editableLi ">
			<label>RFI Due Date:</label>
			<input class="editable date  due_date" id="rfi_due_date" data-table="rfi" data-alert_id="" data-application_id="${applicationId}" data-rfi_id="${rfiId}" type="date" value="${rfiDueDate}" onblur="sendInputInfoToDB(this)" onkeyup="checkIfEnterKey(this, event)">
			</li>
			<li class="editableLi">
					<label>Extension Requested?</label>
					<select name="rfi_extension_request" id="rfi_extension_request" data-table="rfi" data-application_id="${applicationId}" data-rfi_id="${rfiId}" onchange="sendInputInfoToDB(this); extensionRequested(this, ${applicationId}, ${rfiId})">
						<option value="no">No</option>
						<option value="yes">Yes</option>
					</select>
					<span class="invisible DBinfo" id="DBrfi_extension_request">{{rfi.rfi_extension_request}}</span>
				</li>
			`
			{% if rfi.rfi_extension_request == "yes" %}

			html += `
			<li class="editableLi">
				<label>Extension Granted?</label>
				<select name="rfi_extension_response" id="rfi_extension_response" data-table="rfi" data-application_id="${applicationId}" data-rfi_id="${rfiId}" onchange="sendInputInfoToDB(this); newRfiDueDatePrompt(this)">
					<option value="no">No</option>
					<option value="yes">Yes</option>
				</select>
				<span class="invisible DBinfo" id="DBrfi_extension_response">{{rfi.rfi_extension_response}}</span>
			</li>
			`

			{% endif %}
			html += `
			</div>
			<div class="col-lg-3">
			<li class="">
			<label><input type="checkbox" class="documentationSubmittedCheckbox " id="rfi_documentation_submitted" data-table="rfi" data-application_id="${applicationId}" data-rfi_id="${rfiId}" ${checked}>Documentation Submitted</label>
			</li>
			<li class="editableLi step5 ">
			<label>Submission Date:</label>
			<input class="editable date " id="rfi_documentation_submitted_date" data-table="rfi" data-alert_id="" data-application_id="${applicationId}" data-rfi_id="${rfiId}" type="date" value="${rfiDocumentationSubmittedDate}" onblur="sendInputInfoToDB(this)" onkeyup="checkIfEnterKey(this, event)">
			</li>
			</div>

			<div class="col-lg-3">
			<li class="editableLi step5 ">
			<label>Response:</label>
			<select name="response_select" class=" responseSelect" id="rfi_response" data-table="rfi" data-application_id="${applicationId}" data-rfi_id="${rfiId}" onchange="createResponseRow(${applicationId}, this); sendInputInfoToDB(this)">
			<option value="not_recieved">Not recieved</option>
			<option value="rfi">RFI</option>
			<option value="approved">Approved</option>
			<option value="denied">Denied</option>
			</select>
			<span class="invisible DBinfo" id="DBrfi_response">{{rfi.rfi_response}}</span>
			</li>
			</div>
			</div>
			</ul>
		`
		section.insertAdjacentHTML("beforeend", html);
	{% endfor %}
	const rfiRow = applicationInfoSection.lastElementChild;
	const selectField = rfiRow.querySelector('SELECT');


	// show approved section if approved:
	const lastResponseDBInfo = applicationInfoSection.lastElementChild.querySelector('.responseSelect').nextElementSibling;
	if(lastResponseDBInfo.textContent == 'approved') {
		document.querySelector('#approvedSection').style.display = "block";
	} else if (lastResponseDBInfo.textContent == 'denied') {
		document.querySelector('#deniedSection').style.display = "block";
	}


	// Make select fields default to value in database (if there is one):
	const selectFields = document.querySelectorAll('SELECT');
	for (let i = 0; i < selectFields.length; i++) {
		const selectField = selectFields[i];
		const selectFieldParent = selectField.parentNode;
		const DBinfo = selectFieldParent.querySelector('.DBinfo').innerHTML;
		const options = selectField.querySelectorAll('OPTION');
		for (let x = 0; x < options.length; x++) {
			const option = options[x];
			if (option.value == DBinfo) {
				option.setAttribute("selected", "selected");
			};
		};
	};
}) // end document.ready

class RfiRowHTML {
	constructor (applicationId,rfiId) {
		this.html = `
		<hr class="">
		<ul class="" id="">
		<h6 class="numberOfRFIs">RFI #${numberOfRFIs}</h6>
		<div class="row">
		<div class="col-lg-3">
		<li class="invisible applicationId">
		</li>
		<li class="">
		`
			this.html += `
				<form class="fileInputLi rfiFileUpload" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<label>Upload RFI Here:</label>
				<input type="file" name="document" value="" accept="image/jpeg
				,image/png,application/pdf" required>
				<input type="hidden" name="resident_id" value="{{resident.resident_id}}">
				<input type="hidden" name="file_type" value="rfi">
				<input type="hidden" name="application_id" value="${applicationId}">
				<input type="hidden" name="rfi_id" value="${rfiId}">
				<button type="submit" class="uploadBtn">Upload</button>
				</form>
		</li>
				</div>
				<div class="col-lg-3">
				<li class="editableLi ">
				<label>RFI Due Date:</label>
				<input class="editable date  due_date" id="rfi_due_date" data-table="rfi" data-alert_id="" data-application_id="${applicationId}" data-rfi_id="${rfiId}" type="date" onblur="sendInputInfoToDB(this)" onkeyup="checkIfEnterKey(this, event)">
				</li>
				<li class="editableLi">
					<label>Extension Requested?</label>
					<select name="rfi_extension_request" id="rfi_extension_request" data-table="rfi" data-application_id="${applicationId}" data-rfi_id="${rfiId}" onchange="sendInputInfoToDB(this); extensionRequested(this, ${applicationId}, ${rfiId})">
						<option value="no">No</option>
						<option value="yes">Yes</option>
					</select>
					<span class="invisible DBinfo" id="DBrfi_extension_request">{{rfi.rfi_extension_request}}</span>
				</li>
				</div>
				<div class="col-lg-3">
				<li class="">
				<label><input type="checkbox" class="documentationSubmittedCheckbox " id="rfi_documentation_submitted" data-table="rfi" data-application_id="${applicationId}" data-rfi_id="${rfiId}">Documentation Submitted</label>
				</li>
				<li class="editableLi step5 ">
				<label>Submission Date:</label>
				<input class="editable date " id="rfi_documentation_submitted_date" data-table="rfi" data-alert_id="" data-application_id="${applicationId}" data-rfi_id="${rfiId}" type="date" onblur="sendInputInfoToDB(this)" onkeyup="checkIfEnterKey(this, event)">
				</li>
				</div>
				<div class="col-lg-3">
				<li class="editableLi step5 ">
				<label>Response:</label>
				<select name="response_select" class=" responseSelect" id="rfi_response" data-table="rfi" data-application_id="${applicationId}" data-rfi_id="${rfiId}" onchange="createResponseRow(${applicationId}, this); sendInputInfoToDB(this)">
				<option value="not_recieved">Not recieved</option>
				<option value="rfi">RFI</option>
				<option value="approved">Approved</option>
				<option value="denied">Denied</option>
				</select>
				<span class="invisible DBinfo" id="DBrfi_response">{{rfi.rfi_response}}</span>
				</li>
				</div>
				</div>
				</ul>
		`
	}
}

const extensionRequested = (extensionRequestedField,applicationId,rfiId) => {
	const col = extensionRequestedField.parentNode.parentNode;
	const html = `
	<li class="editableLi">
		<label>Extension Granted?</label>
		<select name="rfi_extension_response" id="rfi_extension_response" data-table="rfi" data-application_id="${applicationId}" data-rfi_id="${rfiId}" onchange="sendInputInfoToDB(this); newRfiDueDatePrompt(this)">
			<option value="no">No</option>
			<option value="yes">Yes</option>
		</select>
		<span class="invisible DBinfo" id="DBrfi_extension_response">{{rfi.rfi_extension_response}}</span>
	</li>
	`
	col.insertAdjacentHTML("beforeend", html);
}


const newRfiDueDatePrompt = selectField => {
	if (selectField.value == "yes") {
		alert("Please enter a new RI Due Date");
 		const dueDateField = selectField.parentNode.parentNode.querySelector('#rfi_due_date');
  	dueDateField.focus();
	}
}

let numberOfRFIs = 0;
const createResponseRow = (applicationId, responseField) => {
	if (responseField.value == "rfi") {
		phaseChange(responseField, 5);
		numberOfRFIs += 1;
		$('#deniedSection').css('display', 'none');
		$('#approvedSection').css('display', 'none');
		const residentId = document.querySelector("#residentId").innerHTML;
		const ajaxCall = $.ajax(
		{
			type:"GET",
			url: `/application/ajax/create_response`,
			data: {
				application_id: applicationId,
				response_type: "rfi"
			},
			success: function(response_id) {
				const newRfiRowHTML = new RfiRowHTML(applicationId,response_id)
				applicationInfoSection.insertAdjacentHTML("beforeend", newRfiRowHTML.html);

				// reset response field to "not Received"
				const rfiRow = applicationInfoSection.lastElementChild;
				const selectField = rfiRow.querySelector('SELECT');
				const options = selectField.querySelectorAll('OPTION');
				for (let x = 0; x < options.length; x++) {
					const option = options[x];
					if (option.value == 'not_recieved') {
						option.setAttribute("selected", "selected");
					};
				}
			}
		});
// return(ajaxCall);
	} else if (responseField.value == 'approved'){
		const ajaxCall = $.ajax(
		{
			type:"GET",
			url: `/application/ajax/create_response`,
			data: {
				application_id: applicationId,
				response_type: "approved"
			},
			success: function(response_id) {

			}
		});
		phaseChange(responseField, 6);
		$('#deniedSection').css('display', 'none');
		$('#approvedSection').css('display', 'block');
	} else if (responseField.value == 'denied'){
		$('#approvedSection').css('display', 'none');
		$('#deniedSection').css('display', 'block');
	};
}

const checkIfEnterKey = (input,event) => {
	if (event.keyCode == 13) {
		input.blur();
	}
}

// addEventListenerToResponse(document.querySelector('#initial_response'))
</script>

	<!-- <script type="text/javascript">

//	const addAjaxEventListenersToAllInputTypes = (parent) => {
// 	const inputs = parent.querySelectorAll('INPUT'); //this includes checkboxes
// 	const selectFields = parent.querySelector('SELECT');
// 	// Add eventListeners for select fields to send their info to DB via AJAX:
// 		for (let i = 0; i < selectFields.length; i++) {
// 		const selectField = selectFields[i];
// 		addSelectEventListener(selectField);
// 	};
// 	// Add eventListeners for inputs to focus them and send their info to DB via AJAX:
// 	for (var i = 0; i < inputs.length; i++) {
// 		const input = inputs[i]
// 		if (input.type == 'checkbox') {
// 			console.log("It's a checkbox!");
// 		} else {
// 			//add autofocus on clicking an input:
// 			input.addEventListener('click', () => {
// 				input.select();
// 			})
// 			// Pressing 'Enter' in an input leaves editing mode - MIGHT BE IRRELEVANT, AS PRESSING 'ENTER' = FOCUSOUT
// 			input.addEventListener('keyup',(e)=>{
// 		    if (e.keyCode === 13) {
// 					input.blur(); // this will trigger the 'blur' eventListener and send info to DB
// 			  };
// 			});
// 			// Leaving an input is same as pressing 'Enter':
// 			input.addEventListener('blur',()=>{
// 				sendInputInfoToDB(input);
// 			});
// 		}
// 	};
// }


// const documentation = [
// "U.S. Birth Certificate",
// "Naturalization papers or alien registration card",
// "Social Security Card",
// "Marriage/Divorce/Death Certificates",
// "Veterans discharge paperwork",
// "Medicare Card",
// "Other Health Insurance cards",
// "Proof of health insurance premiums",
// "If employed current pay stubs for past 8 weeks",
// "Social Security Amount Received Monthly:   Award letter",
// "Workers’ Compensation:   Award letter or Check stub ",
// "Veterans’ Benefits: award letter or letter from Veterans Affair",
// "Military Pay:  Award letter or pay stub",
// "Income from Rent or Room/Board:   Letter from roomer, boarder, tenant, copy of lease",
// "Private Pensions/Annuities:  Letter from company or pay stub",
// "Power of Attorney or statement assigning representative",
// "Property Deed",
// "All bank account statement for past 5 years",
// "Verification of any sold or closed stock accounts past 5 years",
// "Verification of any transferred property past 5 years",
// "Life insurance policies:  Cash and Face Values",
// "Copy of all Trust Funds",
// "Information on pending lawsuits",
// "Proof of Irrevocable burial accounts",
// "Burial Plots",
// "Unpaid medical bills",
// "Proof from Doctor at Nursing Home if short-term or long-term care"
// ]


// const third = documentation.length/3
// const columnsArray = [
// 	documentation.slice(0,third),
// 	documentation.slice(third,(third*2)),
// 	documentation.slice((third*2),documentation.length + 1)
// ]

// // function dividArray(myArray){
//     // let index = 0;
//     const arrayLength = documentation.length;
//     let tempArray = [];
//     for (let index = 0; index < arrayLength; index += 3) {
//         const myChunk = documentation.slice(index, index+3);
//         // Do something if you want with the group
//         tempArray.push(myChunk);
//     }
// console.log(tempArray)





// let rfiHTML = `
// <div class="container-fluid">
// 	<div class="row">
// `

// for (var i = 0; i < columnsArray.length; i++) {
// 	rfiHTML += "<div class='col-lg-4'>"
// 	const columnArray = columnsArray[i]
// 	let documentationChecklist = ""
// 	for (let i = 0; i < columnArray.length; i++) {
// 		doc = columnArray[i]
// 		const words = doc.split(' ')
// 		const docNoSpaces = words.join('_')
// 		documentationChecklist += `
// 		<input type="checkbox" value="${doc}" class="documentationCheckBox" id="${docNoSpaces}_checkbox"><label for="${docNoSpaces}_checkbox" class="documentationLabel">${doc}</label>
// 		<br>
// 		`
// 	}
// 	rfiHTML += documentationChecklist;
// 	rfiHTML += "</div>"
// }

// rfiHTML += `
// </div>
// </div>
// `
// let containsRow = false
// const addEventListenersToDocumentationCheckboxes = () => {
// 	document.addEventListener('change', (e) => {
// 		if (e.target.classList.contains('documentationCheckBox') && e.target.checked){
// 			if (!containsRow) {
// 				applicationInfoSection.innerHTML += "<h6>Documentation Upload</h6>"
// 				let containerDiv = document.createElement('DIV');
// 				containerDiv.classList.add('container-fluid')
// 				containerDiv.id = "documentUploadFormsDiv"
// 				let rowDiv = document.createElement('DIV');
// 				rowDiv.classList.add('row')
// 				rowDiv.id = "documentUploadFormsRow"
// 				containerDiv.appendChild(rowDiv)
// 				applicationInfoSection.appendChild(containerDiv)
// 				containsRow = true;
// 			}
// 			const checkbox = e.target;
// 			let rowDiv = document.querySelector('#documentUploadFormsRow')
// 			rowDiv.innerHTML += `
// 	 			<div class="col-lg-4">
// 	 				<form class="fileInputLi" id="${checkbox.id.slice(0, -9)}" method="post" enctype="multipart/form-data">
// 	 	  			{% csrf_token %}
// 	 					<label>Upload ${checkbox.value} Here:</label>
// 	 					<input type="file" name="${checkbox.id.slice(0, -9)}" value="{{application.rfi}}" accept="image/jpeg
// 	 					,image/png,application/pdf" multiple>
// 	 					<input type="hidden" name="resident_id" value="{{resident.resident_id}}">
// 	 					<input type="hidden" name="file_type" value="${checkbox.id.slice(0, -9)}">
// 	 					<button type="submit" class="uploadBtn">Upload</button>
// 	 				</form>
// 	 			</div>
// 	 		`
// 		};

// 	});
	// const documentationCheckBoxes = document.querySelectorAll('.documentationCheckBox');
	// for (var i = 0; i < documentationCheckBoxes.length; i++) {
	// 	const checkbox = documentationCheckBoxes[i];
	// 	console.log(checkbox)
	// 	checkbox.addEventListener('change', () => {
	// 		applicationInfoSection.innerHTML += `
	// 			<div class="col-lg-3">
	// 				<form class="fileInputLi" id="${checkbox.id.slice(0, -9)}" method="post" enctype="multipart/form-data">
	// 	  			{% csrf_token %}
	// 					<label>Upload ${checkbox.value} Here:</label>
	// 					<input type="file" name="${checkbox.id.slice(0, -9)}" value="{{application.medicaid_application}}" accept="image/jpeg
	// 					,image/png,application/pdf" multiple>
	// 					<input type="hidden" name="resident_id" value="{{resident.resident_id}}">
	// 					<input type="hidden" name="file_type" value="${checkbox.id.slice(0, -9)}">
	// 					<button type="submit" class="uploadBtn">Upload</button>
	// 				</form>
	// 			</div>
	// 		`
	// 	});
	// };
// }
// console.log(documentationChecklist);

		const personalInfoObjects = [];

		function newLi(labelValue, inputValue, inputType) {
			const liObject = {
				label: labelValue,
				value: inputValue,
				type: inputType
			};
			personalInfoObjects.push(liObject);
			// this.labelValue = labelValue;
  	// 	this.spanValue = spanValue;
		};

		const personalInfoFields = [
			['First Name','{{resident.first_name}}', 'text'],
			['Last Name','{{resident.last_name}}', 'text'],
			['Date of Birth','{{resident.dob|date:"Y-m-d"}}', 'date'],
		]

		// newLi('First Name','{{resident.first_name}}', 'text');
		// newLi('Last Name','{{resident.last_name}}', 'text');
		for (var i = 0; i < personalInfoFields.length; i++) {
			const field = personalInfoFields[i];
			newLi(field[0],field[1], field[2]);
		};

		// console.log(personalInfoObjects);
		const demoSection = document.querySelector('#demo');
		// const someText = "<span>Hello</span>"

		for (var i = 0; i < personalInfoObjects.length; i++) {
			const field = personalInfoObjects[i];
			demoSection.innerHTML += `
			<li class="editableLi">
				<label>${field['label']}</label>
				<input type="${field['type']}" class="editable" id="first_name" data-table="alert" data-alert_id="" value="${field['value']}">
			</li>
			`
		}

			const addEventListenerToResponse = (responseField.value) => {
			// const appSection = document.querySelector('#applicationInfoSection');
			// console.log(responseField);
			responseField.addEventListener('change', (e) => {
				// sendInputInfoToDB(response_select)
				// const options = responseField.querySelectorAll('OPTION');
				// 	for (let x = 0; x < options.length; x++) {
				// 		const option = options[x];
				// 		if (option.value == e.target.value) {
				// 			option.setAttribute("selected", "selected");
				// 		};
				// 	};
				//generate new html depending on selected option:

				if (e.target.value == 'rfi') {
					// send selection to db:
					// const section = e.target.parentNode.parentNode.parentNode.parentNode.parentNode;
					// const application_id = section.querySelector('.applicationId').innerHTML;
					// dataObject = {
					// 	// method: "create",
					// 	resident_id: {{resident.resident_id}},
					// 	application_id: application_id
					// 	// rfi_id:
					// }
					// updateDB("rfi", dataObject, "RFI row created!");
					// if approved was showing, unshow it:
					// $('#approvedSection').css('display', 'none');
					//add rfi section:
					// applicationInfoSection.insertAdjacentHTML("beforeend", newRfiRowHTML);
					// set application_id in needed sections of the new html:
					// section.querySelector('.formApplicationId').setAttribute('value', application_id)
					// const rfiRow = section.lastElementChild;
					// const elements = rfiRow.querySelectorAll('.needsAttributesSet');
					// for (var i = 0; i < elements.length; i++) {
					// 	const element = elements[i];
					// 	element.setAttribute('data-application_id', application_id);
					// }
					// addAjaxEventListenersToAllInputTypes(rfiRow)

					// let newID = `#response${submission}_select`
					// addEventListeners(newID);
					// const submittedCheckbox2 = document.querySelector('#documentationSubmittedCheckbox2');
					// $(document).ready(()=>{
					// 	if(submittedCheckbox2.checked) {
					// 		$('.step4').css('display', 'block');
					// 	}
					// });
					// submittedCheckbox2.addEventListener('change', (e) => {
					// 	if(submittedCheckbox2.checked) {
					// 		submission += 1;
					// 			$('.step4').fadeIn();
					// 	} else {
					// 		submission -= 1;
					// 		// $('.step4').css('display', 'none');
					// 	};
					// });
				}	else if (e.target.value == 'denied') {
					$('#approvedSection').css('display', 'none');
				} else if (e.target.value == 'approved'){
					$('#approvedSection').css('display', 'block');
				};
			});
		};

	</script> -->


{% endblock %}

<!--
•	Any admission that is Medicaid (or Mltc) should have a page created. The page should have:
o	Name of resident (preferably generated from NCS)
o	Admission date (preferably generated from NCS)
o	Medicaid Pickup Date (i.e. the date from which Medicaid is needed to cover)
o	Application type (New application, conversion, recertification – single, spousal, SSI)
o	County in which the application is being filed (specific to most states which have a county system)
o	Applicant resource information
o	Income and NAMI information (preferably generated from NCS)

Application History
The program should include the following fields for data entry
•	Date of application submission
o	Field to upload the Medicaid application (requirements will vary by state)
o	Field to upload confirmation of receipt by the Medicaid office
•	Date of RFI issued by the Medicaid Office
o	Field to upload RFI
•	Date of RFI deadline
•	Items required for the RFI (have it become a checklist once typed in as we have in some other programs)
•	Note section for correspondence with the Medicaid office
If approved
•	Date of Medicaid approval
o	Field to upload Medicaid approval
•	Date recertification is needed
If denied
•	Date of Medicaid Denial
o	Field to upload Medicaid denial
•	Date of fair hearing request
o	Field to upload confirmation of fair hearing request
•	Date of fair hearing
o	Field to upload fair hearing notice
•	Denial triggers the need for new application which should restart the process
-->
