{% extends 'base.html' %}

{% block title %}Patient Show Page{% endblock %}

{% block content %}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
	<strong>Alert:</strong> RFI due within 10 days.
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="container-fluid residentInfoDiv">
	<button class="btn" id="editBtn">Edit</button>
	<h1 class="">{{alert.first_name}} {{alert.last_name}}</h1>
	<section>
		<h4>Personal Information:</h4>
		<ul>
			<div class="row">
				<div class="col-lg-4">
					<li><label>Resident Name:</label> <span class="editable">{{alert.first_name}} {{alert.last_name}}</span></li>
					<li><label>Date of Birth:</label> <span class="editable date">{{alert.dob}}</span></li>
					<li><label>Address:</label> <span class="editable">{{tracking.address}}</span></li>
				</div>
				<div class="col-lg-4">
					<li><label>City:</label> <span class="editable">{{tracking.city}}</span></li>
					<li><label>State</label> <span class="editable">{{tracking.state}}</span></li>
					<li><label>Zip:</label> <span class="editable">{{tracking.zip}}</span></li>
				</div>
				<div class="col-lg-4">
					<li><label>Facility:</label> <span class="editable">{{alert.facility}}</span></li>
					<li class="invisible" id="patientId">{{alert.patient_id}}</li>
				</div>
			</div>
		</ul>
	</section>
	<section>
		<h4>Insurance Information:</h4>
		<ul>
			<div class="row">
				<div class="col-lg-4">
					<li><label>Primary Payor:</label> <span class="editable">{{alert.primary_payor}}</span></li>
					<li><label>Secondary Payor:</label> <span class="editable">{{alert.secondary_payor}}</span></li>
					<li><label>Status: </label> <span class="editable">{{tracking.status}}</span></li>
				</div>
				<div class="col-lg-4">
					<li><label>Is Medicaid Pending?</label> <span class="editable">{{tracking.is_medicaid_pending}}</span></li>
					<li><label>Medicaid Pickup Date:</label> <span class="editable">{{tracking.medicaid_pickup_date}}</span></li>
					<li><label>Application Type:</label> <span class="editable">{{tracking.application_type}}</span></li>
				</div>
				<div class="col-lg-4">
					<li>
						<label>Date of Medicaid Submission:</label>
						<span class="editable date">{{tracking.date_of_medicaid_submission}}</span>
					</li>
					<li>
						<label>Date of Medicaid Approval:</label>
						 <span class="editable date">{{tracking.date_of_medicaid_approval}}</span>
					</li>
					<li>
						<label>Date of Medicaid Recertification:</label>
						<span class="editable date">{{tracking.date_of_medicaid_recertification}}</span>
					</li>
				</div>
			</div>
		</ul>
	</section>
	<section>
		<h4>Document Information:</h4>
		<ul>
			<div class="row">
				<div class="col-lg-4">
					<form class="fileInputLi" id="medicaid_application" method="post" enctype="multipart/form-data">
		  			{% csrf_token %}
						<label>Upload Medicaid Application Here:</label>
						<input type="file"  class = "form-control-file" name="files" multiple="multiple" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required/>
						<input type="hidden" name="patient_id" value="{{alert.patient_id}}">
						<input type="hidden" name="file_type" value="medicaid_application">
						<button type="submit" class="uploadBtn btn btn-success">Upload</button>
					</form>
					<form class="fileInputLi" id="medicaid_comfirmation" method="post">
			 			{% csrf_token %}
						<label>Upload Medicaid Confirmation Here:</label>
						<input type="file" name="medicaid_confirmation" value="{{tracking.medicaid_comfirmation}}" multiple>
						<input type="hidden" name="patient_id" value="{{alert.patient_id}}">
						<input type="hidden" name="file_type" value="medicaid_confirmation">
						<button type="submit" class="uploadBtn btn btn-success">Upload</button>
					</form>
				</div>
				<div class="col-lg-4">
					<form class="fileInputLi" id="rfi" method="post">
			 			{% csrf_token %}
						<label>Upload Medicaid RFI Here:</label>
						<input type="file" name="rfi" value="{{tracking.rfi}}" multiple>
						<input type="hidden" name="patient_id" value="{{alert.patient_id}}">
						<input type="hidden" name="file_type" value="rfi">


						<button type="submit" class="uploadBtn btn btn-success">Upload</button>
					</form>
					<form class="fileInputLi" id="medicaid_approval" method="post">
			 			{% csrf_token %}
						<label>Upload Medicaid Approval Here:</label>
						<input type="file" name="medicaid_approval" value="{{tracking.medicaid_approval}}" multiple>
						<input type="hidden" name="patient_id" value="{{alert.patient_id}}">
						<input type="hidden" name="file_type" value="medicaid_approval">
						<button type="submit" class="uploadBtn btn btn-success">Upload</button>
					</form>
				</div>
				<div class="col-lg-4">
					<li><label>Date of RFI:</label> <span class="editable date">{{tracking.date_of_rfi}}</span></li>
					<li><label>Date of Deadline:</label> <span class="editable date">{{tracking.date_of_deadline}}</span></li>
					<!-- <li>(More info, places to upload documents, etc.)</li> -->
				</div>
			</div>
		</ul>
	</section>
</div>
{% endblock %}
{% load static %}
{% block scripts %}
<script src="{% static 'js/show.js' %}"></script>
{% endblock %}

<!--
•	Any admission that is Medicaid (or MLTC) should have a page created. The page should have:
o	Name of resident (preferably generated from NCS)
o	Admission date (preferably generated from NCS)
o	Medicaid Pickup Date (i.e. the date from which Medicaid is needed to cover)
o	Application type (New application, conversion, recertification – single, spousal, SSI)
o	County in which the application is being filed (specific to most states which have a county system)
o	Applicant resource information
o	Income and NAMI information (preferably generated from NCS)

Application History
The program should include the following fields for data entry
•	Date of application submission
o	Field to upload the Medicaid application (requirements will vary by state)
o	Field to upload confirmation of receipt by the Medicaid office
•	Date of RFI issued by the Medicaid Office
o	Field to upload RFI
•	Date of RFI deadline
•	Items required for the RFI (have it become a checklist once typed in as we have in some other programs)
•	Note section for correspondence with the Medicaid office
If approved
•	Date of Medicaid approval
o	Field to upload Medicaid approval
•	Date recertification is needed
If denied
•	Date of Medicaid Denial
o	Field to upload Medicaid denial
•	Date of fair hearing request
o	Field to upload confirmation of fair hearing request
•	Date of fair hearing
o	Field to upload fair hearing notice
•	Denial triggers the need for new application which should restart the process
-->
